*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --blue: #0078BC;
    --grey: #707070;
    --white:#FFFFFF;
    --color1:#425662;
    --color2:#707675;
  }
  .footer-image
  {
    float: right !important;
    margin-top: -5px;
  }
  .margin-top{
      margin-top: 10%;
  }
  /* .active_about
  {
    text-decoration: none;
    font-weight:bold;
    color: #15a2f3 !important;
  } */
.navbar-container
{
    width: 80vw;
    margin: auto;
    display: fixed;
}
.logo
{
    width: 139px;
    height:40px;
    margin-bottom: 10px;
}
.navbar-collapse{
   
    z-index: 1;
}
.nav-item{
    font-size: 20px;
    padding: 0px;
    border: 1px solid transparent;
}
.navitem
{
    margin: 0px 20px;
    color: #0078BC;
    float: right;
}
.satya-image
{
  width: 170px;
  height: 170px;
  border-radius: 50%;
}
.active{
    color: #0078BC !important;
    margin: 0px 20px;
}
.aboutus-card-head
{
    color:#0078BC ;
}
.aboutus-heading-area{
    background: url("./img/ServiceGroup 1799@2x.png");
    background-size: cover;
    width: 100%;
    height: 429px;
    position: relative;
}
.aboutus-text{
    font-size: 60px;
    color: #FFFFFF;
    font-weight: 600;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.aboutus-body-firstsection{
    margin-top: 5%;
}
.aboutus-firstsection-row{
    /* border: 2px solid red; */
    /* height: 400px; */
    padding: 0px;
}
.aboutus-firstsection-images-div{
    position: relative;
}
.aboutus-firstsection-image1{
    width: 60%;
    height: 87%;
}
.aboutus-firstsection-image2
{
    width: 50%;
    height: 60%;
    position: absolute;
    top:40%;
    right: 10%;
}
.para-aboutus
{
  font-size: 29px;
  color: #0d2529;
}
.aboutus-section1-right-heading{
    font-size: 35px;
    color: #425662;
}
.aboutus-section1-right-text{
    font-size: 16px;
    color: #707675;
    margin-top: 20px;
    text-align: justify;
}
.aboutus-section1-right-extablish{
    font-weight: bold;
    color: #0078BC;
}
.aboutus-section1-right-banks{
    font-weight: bold;
    color: #425662;
}
.aboutus-120-div{
    width: 68%;
    height: 79px;
    display: flex;
    /* background-color: #0078BC; */
    box-shadow: 0px 3px 6px #00000029;
    position: absolute;
    bottom: 0%;
    left: 25%;
}
.h2-capfront
{
  font-size: 22px !important;
}
.aboutus-120-div1{
    width: 11px;
    height: 80px;
    background-color: #0078BC;
}
.aboutus-120-div2{
    /* width: 86px;
    height: 58px;
    font-size: 50px;
    color: #0078BC; */
    display: flex;
    background-color: #FFFFFF;
}
.aboutus-120-div2-text1{
    width: 86px;
    height: 80px;
    font-size: 50px;
    font-weight: 100;
    color:#0078BC;
    transition: 0.5s;
}

.aboutus-120-div2-text1:hover{
    background-color:#0078BC;
    color:#fff;
    width:86px;
}
.second-card-row
{
  margin-top: -170px;
}
.analytics
{
font: normal normal normal 35px/50px 'Roboto';
font-family: 'Roboto';
letter-spacing: 0px;
color: #425662;
}
.aboutus-120-div2-text2
{
  width: 141px;
  height: 48px;
  font: normal normal normal 20px/24px 'Roboto';
  font-family: 'Roboto';
  letter-spacing: 0px;
  color: #707675;
  opacity: 1;
}
.aboutus-120-div2-text2 p
{
   margin-top: 15px;
   font-size: 16px;
}
.aboutus-body-secondsection{
    margin-top: 5%;
    background-color: #425662;
    padding: 20px;
}
.aboutus-body-secondsection-heading{
    font-size: 35px;
    color: white;
    width: 70%;
}
.aboutus-body-secondsection-text{
    font-size: 16px;
    width: 70%;
    color:white;
   font-weight: lighter;
    margin-top: 20px;
}
.aboutus-body-secondsection-left-div{
   height: 500px;
   right: 40px;
}
.aboutus-body-secondsection-image-div{
    width: 70%;
    height: 500px;
    background-size: 100% 100%;
    position: absolute;
    top: 50px;
}
.aboutus-body-secondsection-image{
    width: 100%;
    height: 400px;
}

.aboutus-details
{
    margin-top: 30px;
}

.aboutus-para-1
{
  text-align: justify !important;
}

.path299-image-div:hover{
  background-color: var(--blue);
  color: white;
 }
 
 .sub-second-colmdd-6-subdiv:hover >.path299-image-div .serviceimages
{
  display: none;
}

.sub-second-colmdd-6-subdiv:hover > .path299-image-div .serviceimageshover
{
  background-color: var(--blue);
  color: white;
  display: block;
}
.serviceimageshover{
  width: 50px;
  height: 50px;
  text-align: center;
  display: none;
  background-color: #707675;
}
.path299-image-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    position: relative;
    top: -2px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#headers {
    height: 420px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    padding: 20px 0;
    background:white;
    background-image: url("img/Group\ 197.png");
  }
  
  #headers.headers-scrolled {
    background: rgba(0, 0, 0, 0.8);
    height: 60px;
    padding: 10px 0;
  }
  
  #headers .logo h1 {
    font-size: 36px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: bold;
  }
  
  #headers .logo h1 span {
    color: #3ec1d5;
  }
  
  #headers .logo h1 a, #headers .logo h1 a:hover {
    color: white;
    text-decoration: none;
  }
  
  #headers .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
  }
  
  @media (max-width: 768px) {
    #headers {
        height: 260px;
        padding: 10px 0;
        background: rgba(252, 250, 250, 0.8);
        background-image: url(img/Group\ 199.png);
        background-size: cover;
        background-position: center;
    }
    #headers .logo h1 {
      font-size: 28px;
      padding: 4px 0;
    }
  }
  
  .headers-bg {
    background: url(../img/slider/slider1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }
  
  @media (min-width: 1025px) {
    .headers-bg {
      background-attachment: fixed;
    }
  }
  
  .home-overly {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    position: absolute;
    width: 100%;
  }
  /*--------------------------------------------------------------
  # Nav
  --------------------------------------------------------------*/
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /* Desktop Navigation */
  
  .nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
  }

  .about-title
  {
      text-align: center;
      font-size: 40px;
      color: white;
      font-weight: bold;
  }
  
  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    float: left;
  }
  
  .nav-menu a {
    display: block;
    position: relative;
    color: black;
    padding: 8px 15px 12px 15px;
    transition: 0.3s;
    font-size: 15px;
  }
  
  .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: #0078BC;
    text-decoration: none;
  }
  .nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
    color: #3ec1d5;
  }
  
  .nav-menu .drop-down > a:after {
    content: "\ea99";
    font-family: 'IcoFont';
    padding-left: 5px;
  }
  
  .nav-menu .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
  }
  
  .nav-menu .drop-down .drop-down:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
  }
  
  .nav-menu .drop-down .drop-down > a {
    padding-right: 35px;
  }
  
  .nav-menu .drop-down .drop-down > a:after {
    content: "\eaa0";
    font-family: IcoFont;
    position: absolute;
    right: 15px;
  }
  
  @media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
      left: -90%;
    }
    .nav-menu .drop-down .drop-down:hover > ul {
      left: -100%;
    }
    .nav-menu .drop-down .drop-down > a:after {
      content: "\ea9d";
    }
  }
  
  /* Mobile Navigation */
  .mobile-nav-toggle {
    /* position: fixed; */
    right: 8px;
    top: 17px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
  }
  
  .mobile-nav-toggle i {
    color:white;
  }
  
  .mobile-nav {
    /* position: fixed; */
    position: absolute;
    top: 46px;
    right: 0px;
    bottom: 15px;
    left: 211px;
    z-index: 9999;
    overflow-y: auto;
    background: white;
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    margin-top: -9px;
  }
  
  .mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .mobile-nav a {
    display: block;
    position: relative;
    color: #0d2529;
    padding: 10px 20px;
    font-weight: bold;
    outline: none;
  }
  
  .mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
    color: #3ec1d5;
    text-decoration: none;
  }
  
  .mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    /* position: fixed; */
    background: rgba(1, 2, 2, 0.6);
    overflow: hidden;
    display: none;
    transition: ease-in-out 0.2s;
  }
  
  .mobile-nav-active {
    overflow: hidden;
  }
  
  .mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
  }
  
  .mobile-nav-active .mobile-nav-toggle i {
    color: white;
  }
  .icons
  {
    margin: -10px;
    margin-left: -3px;
    padding-top: 15px;
  }
  .mobile-nav-active .mobile-nav-toggle i {
    color: #0078BC;
    height: 38px;
    background: white;
    position: absolute;
    top: 3px;
    text-align: right;
    width: 151px;
    font-size: xx-large;
    margin-top: -20px;
    left: -141px;
  }
  
.imgBox
{
  width: 41px;
  height: 41px;
  background: url("./img/location.svg") no-repeat;
}
.card-div:hover .imgBox {
  width: 41px;
  height: 41px;
  background: url("./img/location.png") no-repeat;
}

.imgBox-1
{
  width: 41px;
  height: 41px;
  background: url("./img/mail.svg") no-repeat;
}
.card-div:hover .imgBox-1 {
  width: 41px;
  height: 41px;
  background: url("./img/mail.png") no-repeat;
  background-size: 30px;
}

.imgBox-2
{
  width: 41px;
  height: 41px;
  background: url("./img/phone (2).svg") no-repeat;
}
.card-div:hover .imgBox-2 {
  width: 41px;
  height: 41px;
  background: url("./img/phone (2).png") no-repeat;
  background-size: 25px;
}