  @media screen and (max-width:768px)
 {
    .navbar-container
      {
        width: 100vw;
        display: block;

      }
      .navbar-nav
      {
          background-color: white;
          width: 170px;
          border-radius: 10px;
         text-align: right;
      }
      .nav-link
      {
          color: #707070;
         
      }
      #navbarNav{
        position: absolute;
        right: 5%;
      }
      .aboutus-para-1
      {
        font-size: 15px;
        /* width: 348px; */
        position: relative;
        /* left: -18px; */
        justify-content: center;
        margin-top: -15px;
        margin-bottom: 30px;
      }
      .navbar-toggler{
        position: absolute;
        right: 5%;
        /* margin-left: auto; */
      }
      .aboutus-heading-area{
        height: 259px;
      }
      .aboutus-text{
        font-size: 38px;
      }
      .aboutus-body-firstsection{
        width: 95%;
        margin: auto;
      }
      .aboutus-firstsection-images-div{
        margin-top: 10%;
      }
      .aboutus-firstsection-right-div{
        margin-top: 10%;
      }
      .aboutus-firstsection-image1{
        width: 60%;
        height: 94%;
        margin-left: 7px;
      }
      .aboutus-firstsection-image2{
        width: 56%;
        height: 70%;
        right: 2%;
      }
      .aboutus-120-div{
        width: 177px;
        height: 51px;
        bottom: -10%;
        margin-left: 40px;
        /* border: 2px solid red; */
      }
      .aboutus-120-div1{
        width: 7px;
        height: 50px;
      }
      .aboutus-120-div2-text1{
        width: 52px;
        height: 50px;
        font-size: 30px;
      }
      .aboutus-120-div2-text2{
        width: 100%;
        height: 28px;
        font-size: 12px;
        margin-top: -5%;
        line-height: 17px;
        
      }
      .aboutus-section1-right-text{
        font-size: 15px;
        width: 337px;
        margin-left: -5px;
      }
      .aboutus-section1-right-heading
      {
        font-size: 29px;
        margin-top: 40px;
        margin-left: -5px;

      }
      .img2-subdiv
      {
        position: relative;
        top: -130px;
        left: 10px;
      }
       .second-card-row
      {
        position: relative;
        top: 145px;
      }
  }

    @media screen and (max-width:450px)
    {
      .aboutus-120-div2-text2 p
       {
          font-size: 13px;
       }
        .main-div
       {
         margin-top: -81px;
         height: 825px !important;
       }
       .aboutus-h2
       {
          font-size: 21px;
          margin-left: 2px;
          margin-top:-30px;
       }
       .powerful-about
       {
         margin-left: 0px;
       }
    }
