*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --blue: #0078BC;
    --grey: #707070;
    --white:#FFFFFF;
    --color1:#425662;
    --color2:#707675;
  }
  .footer-image
  {
    float: right;
    margin-top: -5px;
  }
  .margin-top{
      margin-top: 10%;
  }
 .navbar-container
 {
     width: 80vw;
     margin: auto;
     display: none;
 }
 
 .logo
 {
    width: 119px;
    height: 40px;
    left: 50px;
 }
 .about-titler
 {
    text-align: center;
    font-size: 40px;
    margin-top: 150px;
    color: white;
    font-weight: bold;
 }
 .navbar-collapse{
   
    z-index: 1;
}
.nav-item{
    font-size: 20px;
    padding: 0px;
    border: 1px solid transparent;
}
.navitem{
    margin: 0px 20px;
    color: rgb(240, 235, 235);
    float: right;
}

.navitem:hover{
    color: rgb(5, 5, 5);
}

.nav-item:hover{
    
    border: 1px solid #0078BC;
}

.active{
    color: #01080c !important;
    font-weight: bold;
    margin: 0px 20px;
}

.blog-header-area{
    background: url("./img/Group 1719@2x.png");
    background-size: cover;
    width: 100%;
    height: 300px;
    position: relative;
}
.blog-text{
    font-size: 60px;
    color: #FFFFFF;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.blog-body-image1
{
    width: 70%;
}
.blog-body-image1-div-text
{
    color: #0078BC;
    font-weight: bold;
    font-size: 13px;  
}
.blog-image1-smalltext-div
{
    margin: 2% 0%;
}
.blog-body-image1-div-text-image
{
    width: 14px;
    height: 15px;
}
.blog-body-image1-text-area
{
    width: 70%;
}
.blog-body-image1-heading{
    /* border: 2px solid red; */
    font-size: 35px;
    color: #425662;
}
.blog-body-image1-paragrph{
    font-size: 16px;
    color: #707675;
  width: 85%;
}
.blog-readmore-btn{
    width: 180px;
    height: 50px;
    border-radius: 32px;
    color:#425662;
    font-size: 20px;
    margin-top: 2%;
    border: 1px solid black;
    background-color: white;
}
.blog-readmore-btn:hover{
    background-color: #0078BC;
    color: white;
    cursor: pointer;
    border: none;
}



.h1-capfront
{
  font-size: 22px !important;
}
#header {
  height: 420px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 20px 0;
  background:white;
  background-image: url("img/Group\ 199.png");
}

#header.header-scrolled {
  background: rgba(0, 0, 0, 0.8);
  height: 60px;
  padding: 10px 0;
}

#header .logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: bold;
}

#header .logo h1 span {
  color: #3ec1d5;
}

#header .logo h1 a, #header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

@media (max-width: 768px) {
  #header {
      height: 260px;
      padding: 10px 0;
      background: rgba(252, 250, 250, 0.8);
      background-image: url(img/Group\ 199.png);
      background-size: cover;
      background-position: center;
  }
  #header .logo h1 {
    font-size: 28px;
    padding: 4px 0;
  }
}

.header-bg {
  background: url(../img/slider/slider1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

@media (min-width: 1025px) {
  .header-bg {
    background-attachment: fixed;
  }
}

.home-overly {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: absolute;
  width: 100%;
}

/*--------------------------------------------------------------
# Nav
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
}

/* .about-title
{
    text-align: center;
    font-size: 40px;
    margin-top: 70px;
    color: white;
    font-weight: bold;
} */

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
  display: block;
  position: relative;
  color: black;
  padding: 8px 15px 12px 15px;
  transition: 0.3s;
  font-size: 15px;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #3ec1d5;
  text-decoration: none;
}
.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #3ec1d5;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}
.blog-body-image1-paragrph
{
  font-size: 17px;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  right: 16px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav
 {
  /* position: fixed; */
  position: absolute;
  top: 35px;
  right: 0px;
  bottom: 15px;
  left: 211px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #0d2529;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #3ec1d5;
  text-decoration: none;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(1, 2, 2, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  position: absolute;
  /* right: -248px; */
  top: 5px;
  text-align: right;
  margin-top: -20px;
}

.imgBox
{
  width: 41px;
  height: 41px;
  background: url("./img/location.svg") no-repeat;
}
.card-div:hover .imgBox {
  width: 41px;
  height: 41px;
  background: url("./img/location.png") no-repeat;
}

.imgBox-1
{
  width: 41px;
  height: 41px;
  background: url("./img/mail.svg") no-repeat;
}
.card-div:hover .imgBox-1 {
  width: 41px;
  height: 41px;
  background: url("./img/mail.png") no-repeat;
  background-size: 30px;
}

.imgBox-2
{
  width: 41px;
  height: 41px;
  background: url("./img/phone (2).svg") no-repeat;
}
.card-div:hover .imgBox-2 {
  width: 41px;
  height: 41px;
  background: url("./img/phone (2).png") no-repeat;
  background-size: 25px;
}