@media screen and (max-width:768px){
    /* .navbar-container{
        width: 100vw;
        display: block;
       
      }
      .logo{
        width: 100px;
        height:30px;
    
    } }
      .navbar-nav{
          background-color: white;
          width: 150px;
          border-radius: 10px;
         text-align: right;
      }
      .nav-link{
          color: #707070;
         
      }
      #navbarNav{
        position: absolute;
        right: 5%;
      }
      
      .navbar-toggler{
        position: absolute;
        right: 5%;
        /* margin-left: auto; */
        .about-titler
      {
        margin-top:30px;
      }
    }
      
      .blog-heading-area{
        height: 310px;
      } */
      .blog-text{
        font-size: 38px;
      }
      .blog-body-image1-div{
        text-align: center;
      }
      .blog-body-image1{
        width: 95%;
        margin: auto;
    }
    .blog-image1-smalltext-div{
      width: 95%;
      margin:3% auto;
    }
    .blog-body-image1-div-text{
      font-size: 11px;
  }
  
   .blog-body-image1-text-area{
    width: 95%;
    margin:4% auto;  
  }
 .blog-body-image1-heading{
    font-size: 25px;
    /* margin-top: 4%; */
  }
   .blog-body-image1-paragrph{
    font-size: 12px;
    width: 100%;
  }
  .blog-readmore-btn{
    width: 166px;
    height: 44px;
    font-size: 20px;
  }
  .contactus-subdiv-paragrph{
    font-size: 11px !important;
}


@media screen and (min-width:375px) and (max-width:425px) {
  .mobile-nav-active .mobile-nav-toggle i 
  {
    position: absolute;
    left: -160px;
    width: 176px;
  }
}

@media screen and (max-width:414px)
{
  .mobile-nav-active .mobile-nav-toggle i 
  {
    position: absolute;
    left: -199px;
    width: 213px;
  }
}

@media screen and (max-width:425px)
{
  .mobile-nav-active .mobile-nav-toggle i 
  {
    position: absolute;
    left: -198px;
    width: 214px;
  }
}