*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.workprocess-container-fluid{
    height:26rem;
    background-color: #425662;
    position: relative;
    margin-top: 5%;
}


.workprocesscontainer{
    /* border: 2px solid red; */
    padding: 0px;
   margin: 5% 0%;
}


.workprocesscontainer h1{
    color: white;
    text-align: center;
   

}
.work-process-pogressbar{
    /* height: 3px;
    width: 168px; */
    margin: 0px auto;
}
.process-accessory{
    height: 1px;
    width: 170px;
    background-color: white;  
    position: relative;
    margin: 1em auto;
}
.process-accessory::after{
    content: '';
    position: absolute;
    top:  80%;
    left: 50%;
    display:block;
    background-color:#425662;
    height: 12px;
    width:  12px; 
     border-radius: 50%;
    margin-top:  -7px;
    margin-left: -10px; 
    border: 2px solid white;
    
   }

.collection-circle-div{
    /* display: flex;
    align-items: center; */
  
    /* border: 2px solid green; */
    margin: auto;
}
.responsive-circle {
    height: 1px;
    background-color: #CCC;
    overflow: visible;
    position: relative;
}

.responsive-circle:before,
.responsive-circle:after,
.responsive-circle > i {
    background: #CCCCCC;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:1px solid #CCCCCC;
    position: absolute;
    content: "";
    top: -27px;
}

.responsive-circle:after {
    right: 0;
}

.responsive-circle > i {
    left: 50%;
    left: calc(50% - 9px);
}
  /*workprocess container end*/