@media screen and (max-width:641px){
    .header-div
    {
        height: 687px;
    }
    .sllider-display
    {
        display: inline-block;
    }
    /* .h1-homepage
    {
        display: inline-flex;
    } */
    .navbar-container
    {
      width: 100vw;
      margin: auto;
    }
    .product-icon
    {
        margin-left: 7px;
    }
    .service-images 
    {
        margin-left: 0px !important;
        width: 300px;
        margin-left: 28px !important;
        margin-bottom: 20px !important;
    }
    .logo{
        width: 100px;
        height:30px;
    }
    .about-title
    {
        margin-top: 44px;
    }
    .home-icon
    {
        display: flex;
        position: relative;
        right: -10px;
        top: 3px;
        float: right;
        height: 20px;
        opacity: 100%;
    }
    .navbar-nav
    {
        background-color: white;
        width: 150px;
        border-radius: 10px;
    }
    .process-accessory
    {
        display: none;
    }
    .service-pogressbar
    {
        width: 56px;
    }
    .nav-link
    {
        color: #0F2763;
        /* text-align: center; */
       font-size: 20px;
       margin: 3% 0%;
       padding-right: 9px !important;
    }
    .footer-spann
    {
        font: normal normal bold 13px/19px Roboto;
        letter-spacing: 0px;
        color: #707675;
    }
    .navitem-icons{
        display: inline !important;
        color: #0A93F6;
    }
    
    .homehighlightcontent h1
    {
        font-size: 26px;
        margin-top: -15px;
        line-height: 35px;
    }
    .homehighlightcontent p
    {
        font-size: 12px;
        width: 77vw;
        margin-top: 21px;
    }
    .display
    {
    display: block;
    }
    .homehighlightcontent button
    {
        /* border: 2px solid red; */
       font-size: 15px;
       margin-bottom: 7%;
    }
    .homehighlightcontent button:hover
    {
        background-color: #0078BC;
        border: none;
    }
    .homehighlightcontent2
    {
        margin-top: 20.5%;
        padding: 40px;
    }
    .homehighlightcontent2 h2
    {
        font-size: 24px;
         width: 81vw;
    }
    
    .accessory
    {
        width: 264px;
         margin: 4% auto;
         
    }
    .homehighlightcontent2 p
    {
        font-size: 13px;
         width: 78vw;
    }
    
    .homehighlightcontent2 button
    {
        margin-top: 7%;
        font-size: 15px;
    }
    
   /*mobile image containert start*/
   .image-container-div
   {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
      'para1'
      'para3'
      'para2'
    ;
    }
  .div1
    {
    width: 100%;
    padding: 0%;
    }
  .div2{
    width: 100%;
    margin-top: 0%;
  }
  .div3{
    width: 100%;
    height:450px;
    display: grid;
    align-content: center;
    margin-top: 0%;
  }
  .imagegrid{
    width: 100%;
    height: 400px;
    margin-top: -100px;
  }
  .mobile-image{
    margin-top: 18px;
}
.colmd6content1 button:hover{
   background-color:#0078BC;
   border: none;
}
.colmd6content1h1{
   
    font-size: 22px;

}
.colmd6content1p
{
    font-size: 13px;
}
.colmd6content1li
{
    font-size: 12px;
    text-indent: -20px;
}
    .colmd6content1ul
    {
       margin-left: 15px;
    }
   /*mobile image containert end*/

    .serviceimages
    {
        height: 40px;
        width: 40px;
    }
    .serviceimages:hover
    {
        background-color: #707675;
    }
    
    .servicecontner h1
    {
        font-size: 25px;
    }
    .service-accessory
    {
       margin:0.5em auto;
    }
    .servicecontner p
    {
        width: 86vw;
        font-size: 13px;
        color: #707675;
        /* font-weight: 600; */
        font-weight: 500;
    }

    .service-images-sub-heading
    {
        
        font-size: 15px;
    }
    .service-images-sub-paragrph
    {
        font-size: 12px;
        /* font-weight: bold; */
        font-weight: 500;
    }


    /*work process container start*/
   .workprocess-container-fluid
    {
        height:15rem;
        background-color: #425662;
        position: relative;
        margin: 12% 0%;
    }
    .workprocesscontainer h1
    {
        font-size: 26px;
    }
    .collection-circle-div
    {
        width:86vw;
    }
    .div-circle-number
    {
        left:3%;
    }
    .circle-number
    {
        width: 50px;
        height: 50px;
       font-size: 20px; 
    }
    /* .circle-number::after{
        width: 19px;
        top: 24%;
    } */
    .circle-number-last
    {
        width: 43px;
        height: 43px;
       font-size: 20px;
    }
    .circle-paragrph
    {
        font-size: 14px;
    }
    .displaynon{
        display: none;
    }
/*work process container end*/

/* feature container css start */
    .featurecontainer-heading{
       
        font-size: 24px;
        color:#425662;
    }
    .feature-accessor
    {
        width: 124px;
    }
    .featurecontainer-paragrph
    {
        text-align: center;
        font-size: 12px;
        width: 80vw;
        line-height: 25px;
    }
    .feature-image-div
    {
        margin-left: 0px;
        padding: 18px;
    }
    .feature-images
    {
        width: 30px;
        height: 30px;
    
    }
    .feature-media-heading
    {
        font-size: 15px;
        font-weight: bold;
    }
    .feature-sub-paragrph
    {
        font-size: 11px  !important;
        color: #707675;
        font-weight: 500;
    }
    .feature-images-icons
    {
        margin-left: 20px;
    }
/* feature container css end */
/* ourteam container css start */
    .ourteam-base-div
    {
        height: 16rem;
    }
   
    .ourteam-images-row
    {
        margin-top:-18%;
    }

    .homehighlightcontent
    {
        margin-top: -25px;
    }
    .our-team-container-heading
    {
        font-size: 24px;
        position: relative;
        top: -26px;
    }
    .our-team-accessory
    {
        margin-top: -19px;
    }
    .our-team-container-paragrph{
        width: 89vw;
        font-size: 14px;
        margin-top: 7%;
        color: #EBE4E4;
        opacity: 80%;
        line-height: 20px;
        justify-content: center;
    }

    .next
    {
        display: block !important;
        font-size: 20px;
        right: -11%;
        top: -10%;
    }
      .nextt
    {
        display: block !important;
        font-size: 20px;
        top: 41%;
        right: 2%;
    }
      .prevv
    {
        display: block !important;
        font-size: 20px;
        left: 4%;
        top: 41%;
    }
      .prev
    {
        display: block !important;
        font-size: 20px;
        left: -11%;
        top: -10%;
    }
      .autoplay
    {
        margin: -20% auto 0%;
        width: 70vw;
    }
    /* ourteam container css end */

    .mapimage-div
    {
        background-size: 100% 100%;
        height: 30vh;
    }

    .card-container
    {     
       flex-direction: column;    
    }
    .card-div
    {
        margin: 5% 0%;
    }
    
    .form-div
    {
        width: 100vw;
    }
    .form-btn
    {
        padding: 7PX 15PX;
        font-size: 15px;
    }
    .footer-card-columns small
    {
        font-size: 13px;
        font-weight: 500;
    }

}

@media screen and (min-width:320px) and (max-width:360px)
{
    .logo-img
    {
        width: 80px;
        opacity: 100%;
        position: relative;
        top: 7px;
    }
    .home-icon
    {
        opacity: 100%;
    }
    .capfrontlogo
    {
        margin-bottom: 20px;
    }
    .capfrontlogo-1
    {
        text-align: center;
    }
    .footer-image
    {
        text-align: center !important;
        margin-top: 10px;
        position: relative;
        /* left: -50px; */
        left: -100px;
        top: 20px
    }
    .colmd6content1butto
    {
        text-align: center !important;
    }
}