*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif !important;
}

:root {
    --blue: #0078BC;
    --grey: #707070;
  }

.header-div{
  
        position: relative;
        padding: 0px;
        background: url("./img/Group 196.png") no-repeat;
        background-size: 100% 100%;
        height: 130vh;
    
}
.navbar-container{
    width: 80vw;
    margin: auto;
}
.logo{
    width: 139px;
    height:40px;
}
.navbar-collapse{
   
    z-index: 1;
}
.footer-image
{
  float: right !important;
  margin-top: -10px;
}
/* .ml-auto, .mx-auto {
    margin-left: auto!important;
    background-color: aliceblue;
    width: 40%;
    color: blue;
} */

.nav-item{
    font-size: 20px;
    padding: 0px;
    border: 1px solid transparent;
}
.navitem{
    margin: 0px 20px;
    color: white;
}

.navitem:hover{
    color: white;
}

/* .nav-item:hover{
    
    border: 1px solid #0078BC;
} */
.footer-h2
{
  font-size: 21px;
  font-weight: 550;
}
.footer-h1
{
  font-weight: 550;
  font-size: 21px;
}
.active{
    color: #15a2f3;
    font-weight: bold;
    margin: 0px 20px;
}
.active:hover{
    color: #0078BC;
}
.navitem-icons{
    display: none !important;
}
.navitem-cross-icons{
    display: none !important;
    
}
/*end of nav items*/
.home-icon
{
  opacity: 1%;
}
.header-div-1
{
    background-image: url("./img/Group\ 197.png");
    background-size: cover;
}
.footer-spann
{
  font: normal normal bold 16px/19px Roboto;
  letter-spacing: 0px;
  color: #425662;
}
.need-parts
{
    text-align: center;
    color: white;
    font-size: 29px;
}
.footer-spans
{
  font: normal normal bold 17px/10px Roboto;
letter-spacing: 0px;
color: #FFFFFF;
}
.button-header{
width: 160px; 
height: 42px; 
border-radius:60px; 
color: #0078BC;
background-color: #fff;
border-radius: 60px;
font-weight:bold;
border: 2px solid #fff;
}

.button-header:hover
{
  background-color: #0078BC;
  color: white;

}

.homehighlightcontent{
    
    top:35%;
    position: absolute;
    /* border: 2px solid blue; */
  
    /* border: 2px solid red; */
}
.homehighlightcontent h1{
    font-size: 48px;
    /* border: 2px solid red; */
    margin: 3% auto;
    letter-spacing: 2px;
    text-align: center;
    /* width: 60vw; */
    font-weight: bold;
    letter-spacing: 1px;
}
.homehighlightcontent p{
    /* font-weight: bold; */
    letter-spacing: 1px;
   text-align: center;
   margin: 3% auto;  
    width: 60vw;
    font-size: 15px;
   /* position: absolute;
    top: 45%;
    left:30%; */
}
.homehighlightcontent button{
    padding: 8px 30px;
    border-radius: 30px;
    border: 2px solid white;
    background: none;
    color: white;
    font-size: 20px;
    outline: none;
}
.homehighlightcontent button:hover{
    background-color: #0078BC;
    color: white;
}

/*end of homehighlightcontent*/
.homehighlightcontent2 button:hover{
    background-color: #0078BC;
    color: white;
    border: 2px solid white;
}

.homehighlightcontent2{
    background-color:#0078BC;
    opacity: 0.9;
    bottom: 60px;
    padding: 50px 0px;
    position: absolute;
    bottom: 0%;
}
.homehighlightcontent2 h2{
    
    /* position: absolute;
    top: 20%;
    left: 40%; */
    font-size: 35px;
    width: 60vw;
    text-align: center;
     margin: auto;
   
    letter-spacing: 1px;
}
.homehighlightcontentpogressbar{
  /* border: 2px solid red; */
    margin: 20px auto;
    /* position: absolute;
    top: 39%; 
    left: 46%; */
}


/* hr {
  border: 0;
  margin: 1em auto;
  max-width: 20%;
  background-position: 50%;
  box-sizing: border-box;
} */


.accessory {
    height: 1px;
    width: 300px;
    background-color: white;  
    position: relative;
    margin: 1em auto;
  }
  .accessory:after {
    content: '';
    position: absolute;
    top:  80%;
    left: 50%;
    display:block;
    background-color:#0078BC ;
    height: 12px;
    width:  12px; 
    /* transform: rotate(45deg); */
     border-radius: 50%;
    margin-top:  -7px;
    margin-left: -10px; 
    border: 2px solid white;
    /*background-clip: padding-box; */
    /* box-shadow: -10px 10px 0 hsla(0, 0%, 100%, 0.15), 10px -10px 0 hsla(0, 0%, 100%, 0.15); */
   }
   #more {display: none;}
.homehighlightcontent2 p{
    text-align: center;
    /* font-weight: bold; */
    margin:  auto;
    width: 38vw;
    font-size: 20px;
    color: white;
     /* position: absolute; */
    /* top: 47%;
    left: 37%; */
    letter-spacing: 1px;
}
.homehighlightcontent2 button{
    padding: 7px 22px;
    border-radius: 30px;
    font-size: 20px;
    background-color: white;
    color: var(--blue);
    font-weight: bold;
    border: none;
    margin-top: 3%;
    border: 2px solid #0078BC;
    outline: none;
}

/*mobile image container start*/
#more {display: none;}
.image-container-div{
   
    /* border: 2px solid red; */
    width: 90%;
    margin: 5% auto;
    display: grid;
    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto; */
    /* grid-gap: 1%; */
    grid-template-areas:
       'para1  para3'
       'para2  para3';
       
     
   }
   .para-homepages
   {
     width: 50px;
     line-height: 26px;
   }
   .div1{
    grid-area: para1;
     
     /* border:2px solid red */
   }
   .div2{
     grid-area: para2;
     
     /* border: 2px solid green; */
   }
   .div3{
    grid-area: para3;
   
    /* border: 2px solid blue; */
   }
  .h1-homepage
  {
    font-weight: bolder;
  }
   .colmd6content1h1{
     font-weight: bold;
     letter-spacing: 1px;
     font-size: 31px;
     color: #425662;
 
 }
 .colmdcontent6pogressbar{
     height: 3px;
     width: 104px;
     
 }
 .colmd6content1p{
    margin:30px 0px;
    font-weight: 500;
    font: normal normal normal 15px/24px Roboto;
    letter-spacing: 0px;
    color: #707675;
    line-height: 27px;
    text-align: justify;
 }
 .colmd6content1ul{
     color: #707070;
     margin:30px 0px;
     list-style: none;
     margin-left: 15px;
     margin-top: -50px !important;
 }
 .colmd6content1li
 {
  text-indent: -21px;
  font-size: 15px;
  line-height: 28px;
 }
 ul li{
  list-style-position: inside;
  padding: 0px 0 10px 13px;
  /* text-indent: -16px; */
}
 .colmd6content1button{
     padding: 7px 22px;
     border-radius: 30px;
     background-color: white;
     color: #0078BC;
     font-weight: bold;
     border: 2px solid #0078BC;
     outline: none !important;
    
 }
.colmd6content1button:hover{
    background-color: #0078BC;
    color: white;
}

/*mobile image container end*/

/*service container start*/

.feature-sub-paragrph
{
  text-align: justify;
  font: normal normal normal 13px/22px 'Roboto';
  letter-spacing: 0px;
  color: #425662;
  opacity: 1;
  line-height: 26px;
}
.servicecontner{
    margin-top:54px;
   /* border: 2px solid green; */
}

.servicecontner h1{
    font-weight: bold;
    text-align: center;
    color:#425662 ;
    font-size: 35px;
    letter-spacing: 1px;
}
.servicecontnerpogressbar{
    /* border: 2px solid red; */
    /* height: 3px;
    width: 145px; */
    margin: auto;
    
   
}
.service-accessory {
    height: 1px;
    width: 170px;
    background-color: #0078BC;  
    position: relative;
    margin: 1em auto;

  }
  .service-accessory:after {
    content: '';
    position: absolute;
    top:  80%;
    left: 50%;
    display:block;
    background-color:white;
    height: 12px;
    width:  12px; 
    /* transform: rotate(45deg); */
     border-radius: 50%;
    margin-top:  -7px;
    margin-left: -10px; 
    border: 2px solid #0078BC;
    /*background-clip: padding-box; */
    /* box-shadow: -10px 10px 0 hsla(0, 0%, 100%, 0.15), 10px -10px 0 hsla(0, 0%, 100%, 0.15); */
   }
.servicecontner-paragrph{
    
    /* border: 2px solid red; */
    font-size: 14px;
    font-weight: 500;
    width: 50vw;
    color:#707675;
    text-align: center;
    margin: 3% auto;
    line-height: 25px;
}

.serviceimages{
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: white;
   /*color: #0078BC; */
}
.serviceimageshover{
    width: 44px;
    height: 44px;
    text-align: center;
    display: none;
}

.locationhover
{
  display: none;
  background-color: #707675;
  color:white;
}
.location
{
  background-color: white;
}
.serviceimge-div{
    display: flex;
    justify-content: center;
    align-items: center;
   width: 80px;
   height: 80px;
   border-radius: 50%;
   margin: auto;
   margin-top: 20px;
   /* background-color: white;
   color:#0078BC; */
}
.service-pogressbar{
  background-color: whitesmoke;
     height: 2px;
     /* border: 2px solid red; */
     width: 5vw;
     margin: auto;
     transition: all 1s;
}
.serviceimge-div:hover{
  background: transparent linear-gradient(180deg, #3D9F9B 0%, var(--unnamed-color-0078bc) 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #3D9F9B 0%, #0078BC 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
        color: white;
      }
      .serviceimge-div
      {
        background-color: #fff;
      }
    .serviceimge-div:hover > .serviceimages{
        display: none;
    }
    .card-div:hover > .location
    {
      display: none;
    }
    .card-div:hover > .locationhover
    {
      background-color:#0078BC;
      color: white;
      display: block;
    }
    
    .card-div:hover
    {
      background-color: #0078BC;
      color: white;
    }
    .serviceimge-div:hover > .serviceimageshover{
        /* background-color: #fff; */
        color: white;
        display: block;
    }

.service-images-sub-heading{
    font-weight: bold;
    margin-top: 12%;
    font-size: 23px;
    color: #fff;
}

.autos
{
  margin: auto !important;
}
.service-images-sub-paragrph{
    margin: 10% 0% 0% 0%;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #fff;
    opacity: 1;
    line-height: 26px;
}

.service-images
{
    background: transparent linear-gradient(0deg, #3D9F9B 0%, var(--unnamed-color-0078bc) 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(0deg, #3D9F9B 0%, #0078BC 100%) 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
}

/*service  container end*/

/*workprocess container start*/

.workprocess-container-fluid{
    height:26rem;
    background-color: #425662;
    position: relative;
    margin-top: 5%;
}

  .card-div #images #img2
  {
  position:relative;
  }
  .card-div  #images #img2:hover
  {
  display: flex;
  }
  .card-div #images #img1
  {
    display: block;
  }
  .card-div:hover >  #images #img1
  {
    display: none;
    position: relative;
  }

  
 .workprocesscontainer
  {
  padding: 0px;
  margin: 5% 0%;
  }

.workprocesscontainer h1
{
  color: white;
  text-align: center;
}
.work-process-pogressbar
{
    margin: 0px auto;
}
.process-accessory{
    height: 1px;
    width: 247px;
    background-color: white;  
    position: relative;
    margin: 1em auto;
}
.process-accessory::after{
    content: '';
    position: absolute;
    top:  80%;
    left: 50%;
    display:block;
    background-color:#425662;
    height: 12px;
    width:  12px; 
     border-radius: 50%;
    margin-top:  -7px;
    margin-left: -10px; 
    border: 2px solid white;
    
   }

.collection-circle-div{
    /* display: flex;
    align-items: center; */
  
    /* border: 2px solid green; */
    margin: auto;
}
.divided {
    display: flex;
    align-items: center;
  }
  .circle-number{
    color: white;
    font-size: 28px;
    border: 2px solid white;
    width: 77px;
    height: 77px;
    border-radius: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle-number:hover{
    background-color: var(--blue);
}
.circle-numberr
{
    color: white;
    font-size: 15px;
    /* border: 2px solid white; */
    /* width: 67px;
    height: 67px; */
    display: flex;
    width:97px;
    height: 67px;
    align-items: center;
}
  .divider {
     flex-grow: 2;
     border: 1px solid white;
  }
  .dividerr
  {
      flex-grow: 1;
      
  }
  /*workprocess container end*/

/*feature container start*/

.feature-comtainer{
    margin: 5% auto;
}
.featurecontainer-heading{
    text-align: center;
    color: #425662;
    font-weight: bold;
    font-size: 35px;
}

.feature-pogressbar{
   
    /* height: 3px;
    width: 168px; */
    margin: 0px auto;
}
.feature-accessory{
    height: 1px;
    width: 170px;
    background-color: var(--blue);  
    position: relative;
    margin: 1em auto;
}
.feature-accessory::after{
    content: '';
    position: absolute;
    top:  80%;
    left: 50%;
    display:block;
    background-color:white;
    height: 12px;
    width:  12px; 
     border-radius: 50%;
    margin-top:  -7px;
    margin-left: -10px; 
    border: 2px solid var(--blue);
}
.featurecontainer-paragrph{
    font-size: 15px;
    font-weight: 500;
    width: 40vw;
    color:#707070 ;
    text-align: center;
    margin: auto;
    
}
/* 
.feature-images-icons{
    margin-top: 50px;
} */
.feature-row-container{
    margin-bottom: 3%;
}
.feature-image-div{
    /* border: 2px solid red; */
    background-color: var(--blue);
       padding: 15px;
        width: 70px;
        height: 70px;
        border-radius: 50%;
       margin-left: auto;
}
.feature-images{
    width: 40px;
    height: 40px;
}
.feature-image-div:hover{
    background-color: #707070;
}
.feature-media-heading{
    font-weight: bold;
    font-size: 20px;
    color: #425662;
}
.feature-media-paragrph{
    font-size: 20px;
    font-weight: 500;
    color:#707070 ;
    word-wrap: break-word;
}

/*feature container end*/
/*our team container start*/
.autoplay{
    /* border: 2px solid yellow; */
    overflow: hidden;
    margin: -7% auto;
  }
  .slidder-box
  {
    width: 35%;
    text-align: center;
    display: inline-block !important;
    z-index: 1;
    /* border: none; */
  }
  .slidder-box2
  {
    width: 35%;
    text-align: center;
    display: inline-block;
    z-index: 1;
    /* border: none; */
  }
  .autoplay2
  {
      overflow: hidden;
      margin: -7% auto;
  }
  
  .container-slider
  {
    position: relative;
    padding: 0px;
    width: 80vw;
    margin: auto;
    display: flex;
  }
  
  .prev
  {
    position: absolute;
    top: 40%;
    left: 10px;
    font-size: 30px;
    display: none !important;
  }
  .next{
    position: absolute;
    top: 40%;
    right: 10px;
    font-size: 30px;
    display: none !important;
  }
  .prevv{
    position: absolute;
    top: 40%;
    left: 10px;
    font-size: 30px;
    display: none !important;
  }
  .nextt{
    position: absolute;
    top: 40%;
    right: 10px;
    font-size: 30px;
    display: none !important;
  }
  
  .ourteam-base-div{
    height: 25rem;
     background-image: url("./img/Group 61.png");
     background-size: cover;
     background-position:bottom;
     /* border: 2px solid white; */
  }
  .our-team-container-heading{
     text-align: center;
     color: white;
     font-weight: bold;
     font-size: 35px;
     margin-top: 7%;
  }
  .our-team-pogressbar{
     /* height: 3px;
     width: 168px; */
     margin: 0px auto;
  }
  .our-team-accessory{
     height: 1px;
     width: 170px;
     background-color: white;  
     position: relative;
     margin: 1em auto;
  }
  .our-team-accessory::after{
     content: '';
     position: absolute;
     top:  80%;
     left: 50%;
     display:block;
     background-color:#425662;
     height: 12px;
     width:  12px; 
      border-radius: 50%;
     margin-top:  -7px;
     margin-left: -10px; 
     border: 2px solid white;
  }
  .our-team-container-paragrph{
     width: 58vw;
     color:white ;
     text-align: center;
     margin:3% auto;
     /* border: 2px solid red; */
  }
  .ourteam-image{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    /* border: 3px solid white; */
  } 
  .ourteam-linkindin
  {
    width: 102px;
    height: 110px;
    border-radius: 50%; 
    text-align: center !important;
    
  }
  .know-more
  {
     width: 130px;
     height: 40px;
     border-radius: 0px 17px 0px 17px;
  }
  .know-more:hover{
    background: transparent linear-gradient(0deg, #3D9F9B 0%, var(--unnamed-color-0078bc) 100%) 0% 0% no-repeat padding-box;
     background: transparent linear-gradient(0deg, #3D9F9B 0%, #0078BC 100%) 0% 0% no-repeat padding-box;
  }
  .ourteam-image:hover{
    box-shadow: 0px 2px 10px #00000029; 
    }
  .ourteam-image-div-heading{
    font-weight: bold;
    color: #0078BC;
    color: var(--unnamed-color-0078bc);
    text-align: center;
    letter-spacing: 0px;
    color: #0078BC;
    margin-top: 0px;
  }
  .ourteam-image-div-h4{
    font-size: 19px;
    color: #425662;
    font-weight: bold;
  }
  .ourteam-image-div-paragrph
  {
    line-height: 25px;
    color: #425662;
    margin:25px 20px;
    font-size: 14px;
    /* border: 2px solid red; */
    text-align: justify;
    opacity: 100%;
  }
  .display
  {
    display: none;
  }
  .ourteam-sm-icons-div{
    display: flex; 
    justify-content: center;
  }
  .img-box-24:hover 
  {
    background: transparent url("./img/Group\ 1814.png");
  }
  .img-box-24
  {
    background:  url("./img/Group\ 1806.png");
    width: 50px;
  }
  .img-box-25:hover 
  {
    background: transparent url("./img/Group\ 1813.png") !important;
  }
  .img-box-25
  {
    background:  url("./img/Group\ 1807.png") !important;
    width: 50px;
    
  }
  .img-box-26:hover
  {
    background: transparent url("./img/Group\ 1812.png");
  }
  .img-box-26
  {
    background: url("./img/Group\ 1808.png");
    width: 50px;
    height: 50px;

  }
  .ourteamicons{
    background-color: #425662;
    padding: 7px;
    border-radius: 50%;
   
    color: white;
  }
  .facebookicon{
    padding: 10px;
  }
  .ourteamicons:hover{
    background-color: var(--blue);
  }
/* our team container end*/

/*contactus container start*/
.contactcontainer{
    margin-top: 7%;
}
.contact-pogressbar{
    margin: auto;
    /* height: 3px;
    width: 168px; */
}
.contact-accessory{
    height: 1px;
    width: 120px;
    background-color: var(--blue);  
    position: relative;
    margin: 1em auto;
}
.contact-accessory::after{
    content: '';
    position: absolute;
    top:  80%;
    left: 50%;
    display:block;
    background-color:white;
    height: 12px;
    width:  12px; 
     border-radius: 50%;
    margin-top:  -7px;
    margin-left: -10px; 
    border: 2px solid var(--blue);
}
.contactush5{
    color: #425662;
    text-align: center;
    font-weight: bold;
}
.contactus-subdiv-heading{
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    opacity: 100%;
}
.contactus-subdiv-paragrph{
    color:#707070;
    font-size: 11px;
    font: normal normal normal 12px/22px Roboto;
    justify-content: center !important;
}
.card{
    box-shadow: 0px 2px 10px grey;
    border-radius: 10px;
    opacity: 5;
  
}
.form-control
{
  font: normal normal 300 12px/26px Roboto;
  letter-spacing: 0px;
}
.card-icons{
    font-size: 28px;
}
.card-icons2{
    font-size: 24px;
}

.card-container{
    display: flex;
    justify-content: space-around;
}
.card-div{

    flex-basis: 30%;
   
}
.fas{
    color: #0078BC;
}
.card-div:hover{ 
    
    color: white;
    background-color: #0078BC;
}
.card-div:hover .contactus-subdiv-heading{
    color: white;
}
 .card-div:hover .fas{
    
     color: white;
} 
.card-div:hover .contactus-subdiv-paragrph{
    
    color: rgb(255, 255, 255);
} 

/*contactus container end*/

/* form field start*/

.form-div{
    width: 50vw;
   
    /* border: 2px solid red; */
    margin: 50px auto;
}

.form-btn{
    background-color: white;
    padding: 7PX 15PX;
    color:#707070;
    border-radius: 20PX;
    border: 2px solid #0078BC;
    outline: none !important;
}
.form-btn:hover{
    background-color: #0078BC;
    color: white;
}
/* form field start*/

/* map image sextion start*/
.mapimage-div{
    height: 40vh;
   
    background:url("./img/Screenshot.png") no-repeat;
    background-size: cover;
}

/* map image sextion start*/

.footercard{
    margin-top: 4%;
    border: none;
    box-shadow: 0px 10px 30px #00000029;
}

.footer-card-columns{
    margin: 10px 0px;
   
}

.footer-card-columns h1{
    font-size: 27px;
    font-weight: bolder;
    color: #425662;
}
.footer-card-columns small{
    font-weight: bold;
    color:#425662;
    text-decoration: none !important;
    line-height: 32px;
}
.fotter-icons-div{
    display: flex;
}
.footer-stay-connect-icons1{
    color: #0078BC;
    font-size: 25px;
    padding: 5px;
}
.footer-stay-connect-icons2{
    color:#33FFEF;
    padding: 5px;
    font-size: 25px;
}
.footer-stay-connect-icons3{
    color:#FF4833;
    padding: 5px;
    font-size: 25px;
}
.footer-stay-connect-icons4{
    color:#DD1D07;
    padding: 5px;
    font-size: 25px;
}
.footer-text:hover
{
  color: #0078BC;
  font-weight: bold;
}
.footer-stay-connect-icons5{
    color:#050B46;
    padding: 5px;
    font-size: 25px;
}

.footerparagrph{
    color:#707070 ;
    margin-left: 10px !important;
}
.footer-span{
    font-weight: bolder;
    color: #0078BC;
}
.footerparagrph-link{
    color:#425662;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
.footerparagrph-link:hover{
    text-decoration: none;
    color:#425662 ;
}
.footer-image-icons-div{
    display: flex;
}
.footer-imgage{
    width: 130px;
    height: 90px;
    border-radius: 15px;
    margin-top: 10px;
    margin-right:20px;
}
.footer-number
{
    font-weight: bold;
    color: #589054;
    margin: 2% 0%;
    font-family: 'Rajdhani';
}
hrs
{
  display: block;
 width: 1200px;
  color: #000000;
  border: 1px solid black;
}
.footer-links
{
  font-size: 9px;
  padding:0px 70px;
  text-align: center !important;
  font-family: 'sans-serif';
}
.footer-parts-link
{
  text-align: center !important;
}
.footer-small-div
{
    font-size: 15px;
    color: #010167;
    font-weight: bold;
    margin-top: 15px;
    margin-left: -3px
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header 
{
  width: 100%;
  height: 110vh;
  background: url("img/Group\ 196.png") top center no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 22px;
  }
  
  #header.header-scrolled 
  {
    background: rgba(0, 0, 0, 0.8);
    height: 60px;
    padding: 10px 0;
  }
  
  #header .logo h1 
  {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: bold;
  }
  
  #header .logo h1 span 
  {
    color: #3ec1d5;
  }
  
  #header .logo h1 a, #header .logo h1 a:hover 
  {
    color: #fff;
    text-decoration: none;
  }
  
  #header .logo img 
  {
    padding: 0;
    margin: 0;
    max-height: 40px;
  }
  
  @media (max-width: 768px) 
  {
    #header 
    {
        height: 550px;
        padding: 10px 0;
        background: rgba(252, 250, 250, 0.8);
        background-image: url(img/Group\ 196.png);
        background-size: cover;
        background-position: center;
    }
    #header .logo h1 
    {
      font-size: 28px;
      padding: 4px 0;
    }
  }
  /* .container-fluid
  {
    max-width: 1340px;
  } */
  .header-bg 
  {
    background: url(../img/slider/slider1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }
  
  @media (min-width: 1025px) 
  {
    .header-bg 
    {
      background-attachment: fixed;
    }
  }
  
  .home-overly {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .names-icon
  {
      color: white;
  }
  
  /*--------------------------------------------------------------
  # Nav
  --------------------------------------------------------------*/
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /* Desktop Navigation */
  .nav-menu, .nav-menu *
  {
    margin: 0;
    padding: 0;
    list-style: none;
    display: fixed;
  }

  .about-title
  {
      text-align: center;
      font-size: 40px;
      margin-top: 140px;
      color: white;
      font-weight: bold;
  }
  
  .nav-menu > ul > li 
  {
    position: relative;
    white-space: nowrap;
    float: left;
    overflow: hidden;
  }
  
  .nav-menu a 
  {
    display: block;
    position: relative;
    color: white;
    padding: 8px 15px 12px 15px;
    transition: 0.3s;
    font-size: 17px;
    opacity: 1;
  }
  
  .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a 
  {
    color:#0078BC;
    text-decoration: none;
  }
  .nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a 
  {
    color:#0078BC;
  }
  
  .nav-menu .drop-down > a:after 
  {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 5px;
  }
  
  .nav-menu .drop-down .drop-down ul 
  {
    top: 0;
    left: calc(100% - 30px);
  }
  
  .nav-menu .drop-down .drop-down:hover > ul 
  {
    opacity: 1;
    top: 0;
    left: 100%;
  }
  
  .nav-menu .drop-down .drop-down > a 
  {
    padding-right: 35px;
  }
  
  .nav-menu .drop-down .drop-down > a:after 
  {
    content: "\eaa0";
    font-family: 'IcoFont';
    position: absolute;
    right: 15px;
  }
  
  @media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
      left: -90%;
    }
    .nav-menu .drop-down .drop-down:hover > ul {
      left: -100%;
    }
    .nav-menu .drop-down .drop-down > a:after {
      content: "\ea9d";
    }
  }

  .mobile-nav-toggle i 
  {
    color: rgb(10, 8, 8);
  }
  
  .mobile-nav 
  {
    position: absolute;
    top: 55px;
    right: 0px;
    bottom: 15px;
    left: 205px;
    z-index: 9999;
    overflow-y: auto;
    background: #fff;
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
    height: 350px;
  }
  
  .mobile-nav * 
  {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .mobile-nav a 
  {
    display: block;
    position: relative;
    color: #0d2529;
    padding: 10px 20px;
    font-weight: bold;
    outline: none;
  }
  
  .mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a 
  {
    color: #3ec1d5;
    text-decoration: none;
  }
  
  .mobile-nav-overly 
  {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(1, 2, 2, 0.6);
    overflow: hidden;
    display: none;
    transition: ease-in-out 0.2s;
  }
  
  .mobile-nav-active 
  {
    overflow: hidden;
  }
  
  .mobile-nav-active .mobile-nav 
  {
    opacity: 1;
    visibility: visible;
    text-align: right;
  }
  
  .mobile-nav-active .mobile-nav-toggle i 
  {
    color: white;
  }
.contactpage-from-right-section-icon-group
{
  margin-left: -16px;;
}

.nav-menu, .nav-menu * 
{
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li 
{
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu ul 
{
  border-radius: 6px;
}

.nav-menu .get-started a 
{
  background: #213b52;
  color: white;
  border-radius: 50px;
  margin: 2px 0 0 15px;
  padding: 4px 25px 6px 25px;
  border: 2px solid #fdc134;
}

.nav-menu .get-started a:hover 
{
  background: #fdc134;
  color: #213b52;
}

.nav-menu .drop-down ul 
{
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% - 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: white;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.nav-menu .drop-down:hover > ul 
{
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li 
{
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a 
{
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #3e6f9b;
}

.nav-menu .drop-down ul a:hover, 
.nav-menu .drop-down ul .active > a, 
.nav-menu .drop-down ul li:hover > a 
{
  color: #fdc134;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}
.icons
{
  margin: -17px;
  margin-left: -3px;
  padding-top: 15px;
}
/* Mobile Navigation */
.mobile-nav-toggle {
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
  font-weight: bold;
}

.mobile-nav-toggle i {
  color: white;
}

.mobile-nav {
  position: absolute;
  top: 37px;
  right: 0px;
  bottom: 15px;
  left: 200px;
  z-index: 9999;
  overflow-y: auto;
  background: white;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  border-radius: 0px 0px 0px 10px;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #213b52;
  padding: 10px 20px;
  font-weight: 600;
  outline: none;
  transition: 0.3s;
}


.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav .get-started a {
  background: #213b52;
  color: white;
  border-radius: 50px;
  margin: 15px;
  padding: 8px 25px 10px 25px;
  text-align: center;
}

.mobile-nav .get-started a:hover {
  background: #fdc134;
  color: #213b52;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(18, 33, 46, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i 
{
  color: #0078BC;
  height: 38px;
  background: white;
  position: absolute;
  right: -105px;
  width: 160px;
  top: 5px;
  text-align: right;
  font-size: xx-large;
  margin-top: -20px;
  left: -145px;
}
@media screen and (min-width:375px) and (max-width:425px) {
  .mobile-nav-active .mobile-nav-toggle i 
  {
    position: absolute;
    left: -160px;
    width: 176px;
  }
}

@media screen and (max-width:414px)
{
  .mobile-nav-active .mobile-nav-toggle i 
  {
    position: absolute;
    left: -199px;
    width: 213px;
  }
}

@media screen and (max-width:425px)
{
  .mobile-nav-active .mobile-nav-toggle i 
  {
    position: absolute;
        /* left: -210px;
        width: 225px; */
        left: -145px;
        width: 160px;
  }
}

.imgBox
{
  width: 41px;
  height: 41px;
  background: url("./img/location.svg") no-repeat;
}
.card-div:hover .imgBox {
  width: 41px;
  height: 41px;
  background: url("./img/location.png") no-repeat;
}
.imgBox-1
{
  width: 41px;
  height: 41px;
  background: url("./img/mail.svg") no-repeat;
}
.card-div:hover .imgBox-1 {
  width: 41px;
  height: 41px;
  background: url("./img/mail.png") no-repeat;
  background-size: 30px;
}


.imgBox-2
{
  width: 41px;
  height: 41px;
  background: url("./img/phone (2).svg") no-repeat;
}
.card-div:hover .imgBox-2 {
  width: 41px;
  height: 41px;
  background: url("./img/phone (2).png") no-repeat;
  background-size: 25px;
}