*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.fix
{
  margin-top: 28px;
}
:root {
    --blue: #0078BC;
    --grey: #707070;
    --white:#FFFFFF;
    --color1:#425662;
    --color2:#707675;
  }

  .dnone{
      display: fixed;
  }

  .margin-top{
      margin-top: 4%;
  }
  .icons
  {
    margin: -10px;
    margin-left: -3px;
    padding-top: 15px;
  }
.navbar-container{
    width: 80vw;
    margin: auto;
    display: fixed;
}
.logo{
    width: 139px;
    height:40px;
    margin-bottom: 10px;
}
.navbar-collapse{
   
    z-index: 1;
}
.nav-item{
    font-size: 18px;
    padding: 0px;
    border: 1px solid transparent;
}
.navitem{
    margin: 0px 20px;
    color: rgb(252, 246, 246);
}

.navitem:hover{
    color: rgb(5, 4, 4);
}

.nav-item:hover{
    
    border: 1px solid #0078BC;
}

.active{
    color: #0078BC !important;
    font-weight: bold;
    margin: 0px 20px;
}
.contactus-heading-area{
    background: url("./img/Group 1803@2x.png");
    background-size: cover;
    width: 100%;
    height: 580px;
    position: relative;
   
}
.contactus-text{
    font-size: 60px;
    color: #FFFFFF;
    font-weight: 600;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}
.contactus-paragrph{
    color: #FFFFFF;
    width: 419px;
    text-align: center;
    font-size: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 45%;
}
.contactpage-form-div{
    width: 70%; 
    margin: auto;
    margin-top: 100px;
}
.contactpage-form-div-row{
    /* border: 2px solid red; */
    border-radius: 10px;
}
.fotter-icons-div
{
  margin-left: -14px;
}
.para-contactus
{
  line-height: 28px;
}
.contactpage-form-div-left-section{
    padding: 30px 20px;
    background-color: white;
    border-radius: 5px 0px 0px 7px;
    box-shadow: 0px 10px 20px grey;
  }
.contactpage-form-heading-left{
    font-size: 26px;
    color: #425662;
}
.contactpage-form-heading-left-hr{
    height: 1px;
    width: 200px;
    background-color: #0078BC;
    position: absolute;
    margin-top: -1px;
  }
.contactpage-form-section{
    margin-top: 7%;
}
.contactpage-form-inputs::-webkit-input-placeholder { 
    font-size: 12px;
    color: #707675;
    opacity: 48%;
  }
  .contactpage-form-input-message-field{
      height: 160px;
      margin-top: 7%;
  }
  .contactpage-form-input-message-field::-webkit-input-placeholder{
    font-size: 12px;
    color: #707675;
    opacity: 48%;
   transform: translateY(-60px);
}
.webkit-input-placeholder
{
   opacity: 100;
   color: #707070;
}
#sendBtn
{
  border: none !important;
  cursor: pointer;

}

.contactpage-form-section-button{
    width: 180px;
    height: 50px;
    font-size: 20px;
    background-color: #0078BC;
    color: #FFFFFF;
    border-radius: 32px;
    border: none !important;
    margin: 4% 0%;
}
.contactpage-form-div-right-section{
    background-color: #707675;
    box-shadow: 0px 10px 20px #00000029;
    padding: 30px 20px;
}
.contactpage-form-right-section-heading{
    font-size: 30px;
    color: #FFFFFF;
}
.contactpage-form-heading-right-hr{
    height: 1px;
    width: 100px;
    background-color: #FFFFFF;
    margin-top: 0%;
    position: absolute;
}
.contactpage-from-right-section-address-icon1{
    /* width: 25px;
    height: 25px; */
    color:#fff;
    /* border: 2px solid red; */
}
.contactpage-from-right-section-text{
    font-size: 13px;
    color: white;
    margin-bottom:20px;
    text-align: justify;
    text-decoration: none;
}
.contactpage-from-right-section-address-div{
    margin: 15% 0%;
    /* border: 2px solid red; */
    padding: 0px;
}

.contactpage-from-right-section-icon-group{
    /* width: 231px;
    height: 52px; */
    margin-left: px;
}
.contactpage-from-right-section-icon-groupp
{
  margin-left: -15px;
}
.contactpage-from-right-paragrph{
    font-size: 13px;
    color: #FFFFFF;
    margin: 15% 0%;
    /* margin-left: 10px; */
    text-align: justify;
}
.contactpage-footercard{
    margin-top: 0px;
}

#header {
  width: 100%;
  height: 60vh;
  background: url("img/Group\ 1803@2x.png") top center no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 22px;
  }
  
  #header.header-scrolled {
    background: rgba(0, 0, 0, 0.8);
    height: 60px;
    padding: 10px 0;
  }
  
  #header .logo h1 {
    font-size: 36px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: bold;
  }
  
  #header .logo h1 span {
    color: #3ec1d5;
  }
  
  #header .logo h1 a, #header .logo h1 a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  #header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
  }
  
  @media (max-width: 768px) {
    #header {
        height: 260px;
        padding: 10px 0;
        background: rgba(252, 250, 250, 0.8);
        background-image: url(img/Group\ 199.png);
        background-size: cover;
        background-position: center;
    }
    #header .logo h1 {
      font-size: 28px;
      padding: 4px 0;
    }
  }
  
  .header-bg {
    background: url(../img/slider/slider1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }
  
  @media (min-width: 1025px) {
    .header-bg {
      background-attachment: fixed;
    }
  }
  .footerparagrph-link
  {
    font-weight: bold;
    color: #425662;
  }
  .home-overly {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .active_contact
  {
    color: #0078BC !important; 
  }
  .footer-image
  {
    margin-top: -10px !important;
  }
  /*--------------------------------------------------------------
  # Nav
  --------------------------------------------------------------*/
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /* Desktop Navigation */
  .nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
  }
   .form-group
   {
     color: #707070;
   }
  .about-title
  {
      text-align: center;
      font-size: 40px;
      margin-top: 110px;
      color: white;
      font-weight: bold;
  }
  .about-para
  {
      text-align: center;
      font-size: px;
      margin-top: 0px;
      color: white;
  }
  
  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    float: left;
  }
  .footer-number
  {
    font-family: 'Rajdhani';
  }
  .footer-card-columns
  {
    line-height: 29px;
  }
  .nav-menu a {
    display: block;
    position: relative;
    color: black;
    padding: 8px 15px 12px 15px;
    transition: 0.3s;
    font-size: 15px;
  }
  
  .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: #3ec1d5;
    text-decoration: none;
  }
  .nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
    color: #3ec1d5;
  }
  
  .nav-menu .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 5px;
  }
  
  .nav-menu .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
  }
  
  .nav-menu .drop-down .drop-down:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
  }
  
  .nav-menu .drop-down .drop-down > a {
    padding-right: 35px;
  }
  
  .nav-menu .drop-down .drop-down > a:after {
    content: "\eaa0";
    font-family: IcoFont;
    position: absolute;
    right: 15px;
  }
  
  @media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
      left: -90%;
    }
    .nav-menu .drop-down .drop-down:hover > ul {
      left: -100%;
    }
    .nav-menu .drop-down .drop-down > a:after {
      content: "\ea9d";
    }
  }
  
  .h2-capfront
  {
    font-size: 21px !important;
  }
  .h2-capfronts
  {
    font-size: 21px !important;
  }
  /* Mobile Navigation */
  .mobile-nav-toggle {
    /* position: fixed; */
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
  }
  
  .mobile-nav-toggle i {
    /* color: rgb(10, 8, 8); */
    color: white;
  }
  
  .mobile-nav {
    /* position: fixed; */
    position: absolute;
    top: 46px;
    right: 0px;
    bottom: 15px;
    left: 215px;
    z-index: 9999;
    overflow-y: auto;
    background: #fff;
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
  }
  
  .mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .mobile-nav a {
    display: block;
    position: relative;
    color: #0d2529;
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
  }
  
  .mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
    color: #0078BC;
    text-decoration: none;
  }
  
  .mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(1, 2, 2, 0.6);
    overflow: hidden;
    display: none;
    transition: ease-in-out 0.2s;
  }
  
  .mobile-nav-active {
    overflow: hidden;
  }
  
  .mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
  }
  
  .mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
  }


  
.imgBox
{
  width: 41px;
  height: 41px;
  background: url("./img/location.svg") no-repeat;
}
.card-div:hover .imgBox {
  width: 41px;
  height: 41px;
  background: url("./img/location.png") no-repeat;
}

.imgBox-1
{
  width: 41px;
  height: 41px;
  background: url("./img/mail.svg") no-repeat;
}
.card-div:hover .imgBox-1 {
  width: 41px;
  height: 41px;
  background: url("./img/mail.png") no-repeat;
  background-size: 30px;
}

.imgBox-2
{
  width: 41px;
  height: 41px;
  background: url("./img/phone (2).svg") no-repeat;
}
.card-div:hover .imgBox-2 {
  width: 51px;
  height: 51px;
  background: url("./img/phone (2).png") no-repeat;
  background-size: 25px;
}

@media screen  and (max-width:360px)
{
 
}