@media screen and (max-width:768px){
    .navbar-container{
        width: 100vw;
        display: none;
      }
      .logo{
          width: 100px;
          height:30px;
          margin-top: -6px !important;
      }
      .icofont-close:before
      {
        position: relative;
        top: 8px;
        right: 3px
      }
      .navbar-nav{
          background-color: white;
          width: 150px;
          border-radius: 10px;
         text-align: right;
      }
      .nav-link{
          color: #707070;
         
      }
      #navbarNav{
        position: absolute;
        right: 5%;
      }
      
      .navbar-toggler{
        position: absolute;
        right: 5%;
        /* margin-left: auto; */
      }
      .contactus-heading-area{
        height: 294px;
      }
      .contactus-text{
        font-size: 35px;
      }
      .contactus-paragrph{
          font-size: 12px;
          width: 240px;
      }
      .contactpage-form-div{
          width: 100%;
          /* height: 580px; */
          margin-top: -95px;

      }
      .contactpage-form-div-left-section{
        border-radius: 10px;
        margin-top: -75px;
        position: relative;
        left: 19px;
        width: 325px;
    }
    .contactpage-form-div-right-section{
        position: relative;
        left: 19px;
        width: 325px;
    }
      .contactpage-form-heading-left{
        font-size: 19px;      
    }
    .contactpage-form-input-message-field{
        height: 109px;    
    }
    .contactpage-form-input-message-field::-webkit-input-placeholder{
       transform: translateY(-30px);
      
    }
    .contactpage-form-right-section-heading{
        font-size: 25px;
    }
    .contactpage-form-heading-right-hr{
      width: 80px;
    }
    .para-contactus
    {
        font-size: 12px;
        opacity: 100%;
        margin-top: -44px;
    }
    .contactpage-from-right-section-text{
        font-size: 13px;
    }
    .contactpage-from-right-paragrph{
        font-size: 14px;
    }
   
    /*home page part start*/
        .ourteam-base-div{
            display: block;
        }
        .container-slider{
            display: block;
        }
        .contactcontainer{
            display: block;
        }
        .card-container{
            display: block;
        }
        .form-div{
            display: block;
        }
        .mapimage-div{
            display: block;
        }
        .contactpage-footercard{
            margin-top: 38px;
        }
    /*home page part end */
    }

    @media screen and (max-width:425px)
    {
        .about-title
        {
            position: relative;
            top: -68px;
        }
        .about-para
        {
            position: relative;
            top:-31px;
        }
    }

    @media screen and (min-width:375px) and (max-width:425px) {
        .mobile-nav-active .mobile-nav-toggle i 
        {
          position: absolute;
          left: -160px;
          width: 176px;
        }
      }
      
      @media screen and (max-width:414px)
      {
        .mobile-nav-active .mobile-nav-toggle i 
        {
          position: absolute;
          left: -199px;
          width: 213px;
        }
      }
      
      @media screen and (max-width:425px)
      {
        .mobile-nav-active .mobile-nav-toggle i 
        {
          position: absolute;
          left: -198px;
          width: 214px;
        }
      }