.fixed-top {
    top: 0px;
    right: 0;
    left: 0px;
    z-index: 1030;
    position:fixed;
    background-color: #425662;
    padding: 10px;
    box-shadow: 5px 10px 10px #00000029;
}
.nav-icon, .nav-icon:hover, .nav-icon:focus, .nav-icon:active, .nav-icon:focus:active {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

element.style {
    display: none;
}

.navWrapper {
    /* background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgb(0 0 0 / 20%); */
    color: #ffff;
    padding: 35px 20px;
    position: absolute;
    left: 33px;
    top: -19px;
    width: calc(100% - 40px);
    box-sizing: border-box;
    z-index: 101;
    text-align: center;
    float:right;
}
.nav-col
{
    float:right;
    margin-left:30px;
    flex-direction:row-reverse;
    display: flex;
}
.nav-col li a
{
    margin-left:0px; 
    position:relative;
    top:0px;
    right: 100px;
    color: #fff;
    text-decoration: none;
}
.active
{
    color: #0078BC;
}
.nav-col li a:hover, .nav-col li a.active
{
    color:#0078BC;
    text-decoration: none;
}
.nav-col li a.active
{
   font-weight: bold;
   color: #0078BC;
}
@media screen and (max-width: 1199px)
{
.btRound {
    left: 17px;
    top: 37px;
}
.fixed-top
{
    display: none;
}
}
.btRound {
    margin-top: -20px;
    position: absolute;
    left: -15px;
    top: 50%;
    z-index: 9999;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 5px rgb(0 0 0 / 30%);
    cursor: pointer;
}

.navWrapper .nav-dv {
    display: block;
}

@media screen and (max-width: 1199px)
{
.navWrapper ul {
    text-align: right;
}
}
.navWrapper ul {
    margin: 0;
}
ul, li {
    list-style: none;
}


@media screen and (max-width: 1199px)
{
.navWrapper ul li.dropdown .dropdown-menu, .navWrapper ul li {
    text-align: center;
}
}

@media screen and (max-width: 1199px)
{
.navWrapper ul li {
    display: block;
}
}
@media screen and (max-width: 1199px)
{
.navWrapper li {
    padding: 0px;
}
}
@media screen and (max-width: 1280px)
{
.navWrapper li {
    margin: 0 5px;
    display: none;
}
}
@media screen and (max-width: 1366px)
{
.navWrapper li {
    margin: 0 10px;
}
.navWrapper li {
    margin: 0 15px;
    padding: 7px;
    display: inline-block;
}
}

@media screen and (max-width: 1199px)
{
.navWrapper ul {
    text-align: right;
}
}

.navWrapper ul {
    margin: 0;
}
ul, li {
    list-style: none;
}

@media screen and (max-width: 1199px)
{
.navWrapper ul li.dropdown .dropdown-menu, .navWrapper ul li {
    text-align: center;
}
}
@media screen and (max-width: 1199px)
{
.navWrapper ul li {
    display: block;
}
}
@media screen and (max-width: 1199px)
{
.navWrapper li {
    padding: 0px;
}
}
@media screen and (max-width: 1280px)
{
.navWrapper li {
    margin: 0 5px;
}
}
@media screen and (max-width: 1366px)
{
.navWrapper li {
    margin: 0 10px;
}
}
.navWrapper li {
    margin: 0 15px;
    padding: 7px;
    display: inline-block;
}
.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
}
ul, li {
    list-style: none;
}
@media screen and (max-width: 1199px)
{
.navWrapper ul li a {
    display: block;
    overflow: hidden;
    padding: 5px 10px;
}
.navWrapper li a {
    color: #252525;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 20px;
    line-height: 1.2rem;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
}
.dropdown-toggle {
    white-space: nowrap;
}
}
@media screen and (max-width: 1199px)
{
.navWrapper ul li.dropdown .dropdown-menu {
    border-top: 0px;
    margin: 0px;
    padding: 0px;
}
}
@media screen and (max-width: 1199px)
{
.navWrapper ul li.dropdown .dropdown-menu, .navWrapper ul li {
    text-align: center;
}
}
@media screen and (max-width: 1199px)
{
.navWrapper ul li.dropdown .dropdown-menu {
    position: static !important;
    float: none;
    transform: none !important;
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
}
.navWrapper ul li.dropdown .dropdown-menu {
    border-top: 2px solid #1d2a78;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 5px;
    margin-left: -12px;
}
}
@media screen and (max-width: 1199px)
{
.dropdown-menu {
    border: none;
}
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}