*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main-div{
    height: 600px;
    background-color: #425662;
    /* margin-top: 100px; */
}
.main-row{
    /* height: 100%; */
    padding: 20px;
}
.first-colmd-6{
    right: 50px;
    bottom: 15px;
}
.image1-div{
    position: relative;
    bottom: 90px;
} 
.image1-subdiv{
    width: 95%;
    top: 20px;
    /* height: 400px; */
    margin-left: 10%;
   top:90px;
   padding-inline-end: 10px;
}
.image1{
  width: 100%;
  height: 100%;
}
.image2{
    width: 65px;
    height: 65px;

    position: absolute;
   top: 50%;
   left: 45%;
}
.image1-div-head{
    color: white;
   margin: 20px;
    
}
.image1-div-text{
    color: white;
   
}

.sub-row{
    /* border: 2px solid white; */
    height: 50%;
   
}
/* .second-colmdd{
 
} */
.sub-first-colmdd-6{
    position: relative;
  }
  .sub-first-colmdd-6-subdiv{
      background-color: #425662;
      height: 178px;
      width: 180px;
      position: absolute;
      bottom: 20px;
      /* border: 2px solid  rgb(15, 12, 12); */
      box-shadow: 0px 5px 5px 0px #2B2929;
      border-radius: 4px;
     /* border: 2px solid red; */
  }

  .sub-second-colmdd-6{
    position: relative;
    left: -44px;
}
 .sub-first-colmdd-6-subdiv:hover{
  background-color:#FFFFFF ;
}
.sub-first-colmdd-6-subdiv:hover > .aboutus-card-text
{
    color: black;
}
.sub-first-colmdd-6-subdiv:hover > .aboutus-card-head
{
    color:#0078BC;
}
.sub-first-colmdd-6-subdiv:hover > .path299-image-div
{
    background: var(--unnamed-color-0078bc) 0% 0% no-repeat padding-box;
    background: #0078BC 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    color: #FFFFFF;
}
.sub-second-colmdd-6-subdiv:hover > .aboutus-card-text
{
    color: black;
}
.sub-second-colmdd-6-subdiv:hover > .aboutus-card-head
{
    color:#0078BC;
}
.sub-second-colmdd-6-subdiv:hover > .path299-image-div-1
{
    background: var(--unnamed-color-0078bc) 0% 0% no-repeat padding-box;
    background: #0078BC 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    color: #FFFFFF;
    background-image: url('./img/rocket.png');
    background-position: center;
    background-size: 30px;
}
.path299-image-div-4
{
    background: transparent url('./img/practice.svg') 0% 0% no-repeat padding-box;
    background-position: center;
    background-size: 30px;
}
.sub-second-colmdd-6-subdiv:hover > .path299-image-div-4
{
    background: var(--unnamed-color-0078bc) 0% 0% no-repeat padding-box;
    background: #0078BC 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    color: #FFFFFF;
    background-image: url('./img/practice.png');
    background-position: center;
    background-size: 30px;
}
.path299-image-div-1
{
    background: transparent url('./img/rocket.svg') 0% 0% no-repeat padding-box;
    background-position: center;
    background-size: 30px;
}
.sub-first-colmdd-6-subdiv:hover > .path299-image-div-2
{
    background: var(--unnamed-color-0078bc) 0% 0% no-repeat padding-box;
    background: #0078BC 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    color: #FFFFFF;
    background-image: url('./img/\Group 18154.svg');
    background-position: center;
    background-size: 30px;
}
.path299-image-div-2
{
    background: transparent url('./img/quality\ \(1\).svg') 0% 0% no-repeat padding-box;
    background-position: center;
    background-size: 30px;
}

.sub-first-colmdd-6-subdiv:hover > .path299-image-div-3
{
    background: var(--unnamed-color-0078bc) 0% 0% no-repeat padding-box;
    background: #0078BC 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    color: #FFFFFF;
    background-image: url("./img/reliability.png");
    background-position: center;
    background-size: 30px;
}
.path299-image-div-3
{
    background: transparent url("./img/reliability.svg") 0% 0% no-repeat padding-box;
    background-position: center;
    background-size: 30px;
}
.sub-second-colmdd-6-subdiv{
    background-color: #425662;
    height: 178px;
    width: 180px;
    position: absolute;
    bottom: 60px;
    box-shadow: 0px 5px 5px 0px #2B2929;
    border-radius: 4px;
    top: 10;
}
.sub-second-colmdd-6-subdiv:hover{
     background-color:#FFFFFF ;
}
  .path299-image-div{
     
      background-color: #FFFFFF;
      box-shadow: 0px 3px 6px #00000029;
      height: 53px;
      width: 53px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      margin-top: 14px;
  }
  .path299-image-div-1{
     
    background-color: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    height: 53px;
    width: 53px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 14px;
}
.path299-image-div-2{
     
    background-color: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    height: 53px;
    width: 53px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 14px;
}
.path299-image-div-3{
     
    background-color: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    height: 53px;
    width: 53px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 14px;
}
.path299-image-div-4{
     
    background-color: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    height: 53px;
    width: 53px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 14px;
}
  /* .path299-image-div:hover
  {
    background: var(--unnamed-color-0078bc) 0% 0% no-repeat padding-box;
    background: #0078BC 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
  } */
  .path299{
    height: 33px;
    width: 33px;
    border:white;
    
  }
  .aboutus-card-head{
    width: 74px;
    height: 19px;
    font-size: 16px;
    color: white;
    margin:4% auto;
    font-weight: bold;
    text-align: center;
  }
  .aboutus-card-head:hover{
    /* color: #0078BC; */
    color:#0078BC;
  }
  .aboutus-card-text{
      width: 148px;
      height: 59px;
      margin: auto;
      color: white;
      font-size: 11px;
      text-align: center;
  }
  .aboutus-card-text:hover
  {
      color:black;
  }
  

@media screen and (max-width:768px){
    .image1-div{
       left: 0%;
    
    } 
    .image1{
        width: 100%;
        height: 85%;
        left: 0%;
        /* height: 400px; */
       
     }
     .sub-row
     {
         margin-left: -30px;
     }
    .image1-div-head{
        font-size: 22px;
       /* margin-left: 13px; */
        
    }
    .image1-div-text{
        font-size: 12px;
        margin-left: 24px;
        letter-spacing: 0px;
        margin-bottom: 40px;
        position: relative;
        /* left: -9px; */
        text-align: justify;
       
    }
    .image1-subdiv{
       
        width: 100%;
        margin-left: 0%;
       
    }
    .image2{
        width: 40px;
        height: 40px;
       left: 32%;
    }
    .second-colmdd{
        height: 20rem;
     }
    .second-colmdd{
        margin-top: 10%;
        width: 100%;
        padding: 0px;
    }
    .sub-first-colmdd-6-subdiv{
      
        height: 180px;
        width: 150px;
       margin-bottom: 16px;
       margin-left: 10px;
    }
    .sub-second-colmdd-6-subdiv{
        height: 180px;
        width: 150px;
        margin-left: 50px;
    }
    .aboutus-card-text{
        font-size: 11px;
        padding: 3px;
    }
   
}

