@media screen and (max-width:641px){
    
    .serviceimages{
        height: 40px;
        width: 40px;
    }
    .servicecontner h1{
        font-size: 25px;
    }
    .service-accessory{
       margin:0.5em auto;
    }
    .servicecontner p{
        width: 86vw;
        font-size: 13px;
        color: #707675;
        /* font-weight: 600; */
        font-weight: 500;
    }

    .service-images-sub-heading{
        
        font-size: 15px;
    }
    .service-images-sub-paragrph{
        font-size: 13px;
        /* font-weight: bold; */
        font-weight: 500;
    }

}
