@media screen and (max-width:641px){

   
    .homehighlightcontent h1{
        left: 80px;
        font-size: 26px;
        top: 100px;
    }
    .homehighlightcontent p{
        left: 25px;
        width: 300px;
        font-size: 10px;
        top: 170px;
    }
    .homehighlightcontent button{
        left: 115px;
      padding: 5px 10px;
       font-size: 15px;
        top: 270px;
    }
    .homehighlightcontent2{
        top:400px;
    }
    .homehighlightcontent2 h2{
        top:30px;
        left: 52px;
        font-size: 20px;
    }
    .homehighlightcontentpogressbar{
        top: 50px;
        left: 70px;
    }
    .homehighlightcontent2 p{
       
       
          
          top: 85px;
         left: 5px;
         font-size: 12px;
     }
     .homehighlightcontent2 button{
        
        top: 190px;
        left: 120px;
      
    }

    .ourteam-base-div{
        height: 18rem;
    }
    .ourteam-images-row{
    
        margin-top:-18%;
        
     }
    /* .our-team-colmd3{
        display: none;
    } */

    .our-team-container-heading{
        
        font-size: 24px;
    }
    .our-team-container-paragrph{
        width: 91vw;
       font-size: 14px;
       margin-top: 10%;
       
    }

/*work process container start*/
    .workprocesscontainer h1{
        font-size: 28px;
    }
    .collection-circle-div{
        width:86vw;
    }
    .div-circle-number{
        left:3%;
    }
    .circle-number{
        width: 43px;
        height: 43px;
       font-size: 20px; 
    }
    .circle-number::after{
        width: 19px;
        top: 24%;
    }
    .circle-number-last{
        width: 43px;
        height: 43px;
       font-size: 20px;
    }
    .circle-paragrph{
        font-size: 14px;
    }
/*work process container end*/

   
}








