@media screen and (max-width:641px){
    .header-div{
        height: 114vh;
    }
    .homehighlightcontent h1{
        font-size: 30px;
        top: 10%;
        left: 16%;
    }
    .homehighlightcontent P{
        font-size: 12px;
        margin-top: 7%;
        text-align:center;
        width: 96vw;
    }
    .homehighlightcontent button{
        font-size: 15px;
        top: 44%;
        left: 26%;
    }
    .homehighlightcontent button:hover{
        background-color: #0078BC;
        border: none;
    }

    /* homehighlightcontent2 start*/
    .homehighlightcontent2 {
        top: 59%;
    }
    .homehighlightcontent2 h2 {
        font-size: 22px;
        left: 13%;
        top: 11%;
    }

    .homehighlightcontentpogressbar{
        left: 22%;
        top: 26%;
    }
    .homehighlightcontent2 p{
        top: 35%;
        left: 1%;
        font-size: 12px;
        text-align: center;
        line-height: 2;
    }

    .homehighlightcontent2 button{
        left: 32%;
    }
    .homehighlightcontent2 button:hover{
        background-color: #0078BC;
        color: white;
    }

     /* homehighlightcontent2 start*/

    /* mobile image div start*/
    .image-container-div{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
          'para1'
          'para3'
          'para2'
        ;
      }
      .div1{
        width: 100%;
        padding: 0%;
      }
      .div2{
        width: 100%;
        margin-top: 10%;
      }
      .div3{
        width: 100%;
        height:450px;
        display: grid;
        align-content: center;
        margin-top: 10%;
      }
      .imagegrid{
        width: 100%;
        height: 400px;
      }
      .mobile-image{
        margin-top: 18px;
    }
    .colmd6content1 button:hover{
       background-color:#0078BC;
       border: none;
    }
    .colmd6content1h1{
       
        font-size: 25px;
    
    }
    .colmd6content1p{
        font-size: 13px;
    }
    .colmd6content1li{
        font-size: 13px;
    }
    /*mobile image div end*/
    

     /* our service start*/
     .servicecontnerpogressbar{
        left: 22%;
     }
     .serviceimages{
        width: 30px;
        height: 30px;
     }
     
     .service-images-sub-heading{
         font-size: 12px;
     }
     .service-images-sub-paragrph{
         font-size: 11px;
     }
     /* our service end*/

     /* our process start*/


     
     /* our process end*/

     /*feature images with describe start*/
     .featurecontainer h3{
        font-size: 22px;
     }
     .feature-pogressbar{
        left: 35%;
         width: 27vw;
     }
     .featurecontainer p{
        font-size: 12px;
         width: 32vh;
     }
     .feature-media-heading{
        font-size: 12px;
     }
     .feature-media-paragrph{
        font-size: 11px;
        word-wrap: break-word;
     }
    
     /*feature images with describe end*/

     /*our team container start*/
     .our-team-colmd3{
        display: none;
    }
    /*our team container end*/

    /*ourService Container start*/
    .contactcontainer{
        margin-top: 100px;
    }
    /*ourService Container end*/

    .form-div{
        width: 100vw;
    }

    .mapimage-div{
        height: 25vh;
    }
}