.productpage-product-img-cols
{
  height: 150px;
}

@media screen and (min-width:320px) and (max-width:425px)
{
  .servicepage-product-heading
  {
     text-align: center;
     margin-left: 0px;
     margin-top: 40px !important;
  }
  .demoo
  {
    margin-bottom: -25px;
  }
  .about-titlet
  {
      text-align: center;
      font-size: 40px;
      margin-top: 60px;
      color: white;
      font-weight: bold;
  }
  .btn
  {
    margin-top:60px;
    margin-left:-2px;
  }
  .card-titlee
  {
    margin-top:-21px;
  }
    .card-title
  {
    margin-top:30px;
  }
  .card-imgs-bottom
  {
    height: 236px;
    margin-top: 70px;
  }
  .card-img-bottom
  {
    margin-left: 11px;
    margin-top: -90px;
  }
  .card-bottom
  {
    font-size: 12px;
    font-weight: bold;
    margin-top: -15px;
    text-indent: -28px;
    margin-left: 7px;
  }
  .para-long
  {
    font-size: 15px;
    width: 345px;
    text-align: start;
    position: relative;
    left: -8px;
    text-align: justify;
  }
  .card-text
  {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .card-images
  {
    margin-bottom: 25px;
    margin: 2px;
  }
  .rev
  {
    flex-direction: column-reverse;
  }

}