*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --blue: #0078BC;
    --grey: #707070;
    --white:#FFFFFF;
    --color1:#425662;
    --color2:#707675;
  }

  .margin-top{
      margin-top: 10%;
  }
  .back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
  }
  
  .back-to-top i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background: #FFC400;
    color: black;
    transition: all 0.4s;
  }
  
  .back-to-top i:hover {
    background: #FFC400;
    color: white;
  }
.navbar-container{
    width: 80vw;
    margin: auto;
    display: fixed;
}
.logo{
    width: 139px;
    height:40px;
    margin-bottom: 10px;

}
.navbar-collapse{
   
    z-index: 1;
}
.nav-item{
    font-size: 20px;
    padding: 0px;
    border: 1px solid transparent;
}
.navitem{
    margin: 0px 20px;
    color: rgb(240, 235, 235);
    float: right;
}

.navitem:hover{
    color: rgb(14, 12, 12);
}

.nav-item:hover{
    
    border: 1px solid #0078BC;
}
.card-text
{
  margin-bottom: 100px;
  text-align: justify;
  line-height: 28px;
}
.card-titlee
{
  color: #425662;
}
.active{
    color: #0078BC !important;
    font-weight: bold;
    margin: 0px 20px;
}
.aboutus-heading-area{
    background: url("./img/ServiceGroup 1799@2x.png");
    background-size: cover;
    width: 100%;
    height: 429px;
    position: relative;
}
.aboutus-text{
    font-size: 60px;
    color: #FFFFFF;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.footer-span
{
  font-weight: bold;
  color: #425662;
}
.product-firstsection-image1
{
    margin-right: 200px;
}
.h2-capfront
{
  font-size: 22px !important;
}
.productpage-product-container{
    /* border: 2px solid red; */
    width: 90vw;
    margin:4%;
    left: 50px;
}
.productpage-product-heading{
    text-align: center;
    color:#425662 ;
    font-size: 35px;
    letter-spacing: 1px;
    margin-top: 3%;
}
.product-accessory {
    height: 1px;
    width: 170px;
    background-color: var(--blue);  
    position: relative;
    margin: 1em auto;

  }
  .product-accessory:after {
    content: '';
    position: absolute;
    top:  30%;
    left: 50%;
    display:block;
    background-color:white;
    height: 12px;
    width:  12px; 
    /* transform: rotate(45deg); */
     border-radius: 50%;
    margin-top:  -7px;
    margin-left: -10px; 
    border: 2px solid var(--blue);
    /*background-clip: padding-box; */
    /* box-shadow: -10px 10px 0 hsla(0, 0%, 100%, 0.15), 10px -10px 0 hsla(0, 0%, 100%, 0.15); */
   }

   .productpage-product-img-cols{
       height: 150px;
       width: 150px;
       /* border: 2px solid red; */
       box-shadow: 0px 0px 1px 1px #00000029;
       border-radius: 6px;
       display: flex;
       justify-content: center;
       align-items: center;
      
   }
   .productpage-product-img:hover{
        border: none;
         box-shadow: 0px 2px 10px #00000029;
         
   }
   .productpage-product-img{
       width: 194px;
       height: 70px;
   }

   .our-team-container-paragrph{
    width: 35px;
    color:rgb(14, 13, 10) ;
    text-align: center;
    margin:3% auto;
    /* border: 2px solid red; */
 }
 
 .product-body-firstsection{
    margin-top: 5%;
}
.product-firstsection-row{
    /* border: 2px solid red; */
    /* height: 400px; */
    padding: 0px;
}
.product-firstsection-images-div{
    position: relative;

}
.footer-image
{
  float: right !important;
  margin-top: -5px;
}
.product-section1-right-heading{
    width: 60%;
    height: 7%;
    top:1%;
}
.product-section1-right-heading{
    color: #425662;
}
.product-section1-right-text{
    font-size: 16px;
    color: #707675;
    margin-top: 62px;
}
.product-section1-right-text{
    font-weight: bold;
}

.card-img-bottom {
    color: #fff;
    height: 30rem;
    background: url("./img/Group\ 1721.png") center no-repeat;
    background-size: cover;
    margin-bottom: 30px;
  }
  .about-titlet
  {
    text-align: center;
    font-size: 40px;
    margin-top: 150px;
    color: white;
    font-weight: bold;
  }
  .btn
  {
    border: 1px solid var(--unnamed-color-0078bc);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #0078BC;
    border-radius: 35px;
    opacity: 1;
    color:#425662;
    margin-left:35px;
  }
  .btnss
  {
    border: 1px solid var(--unnamed-color-0078bc);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #0078BC;
    border-radius: 35px;
    opacity: 1;
    color:#425662;
    margin-left:0px;
  }
  .servicepage-product-heading
  {
    text-align: center;
    margin-left: 0px;
  }
  .card-imgs-bottom {
    color: #fff;
    height: 20rem;
    background: url("./img/Group\ 1789.png") center no-repeat;
    background-size: cover;
    margin-bottom: 10px;
  }
.para-long
{
  text-align: center;
font: normal normal normal 16px/25px Roboto;
letter-spacing: 0px;
color: #707675;
opacity: 1;
}
  .btn:hover {
    background-color: #0078BC;
    color: rgb(241, 237, 237);
  }

.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	padding: 0 30px;
}
.demoo
{
  margin-bottom: -106px;
}
.carousel .carousel-item {
	color: #999;
	font-size: 13px;
	text-align: center;
	overflow: hidden;
  min-height:390px;
  margin-top:30px;
  margin-bottom: 50px;
 }
.carousel .carousel-item .img-box {
	width: 210px;
	height: 210px;
	margin: 0 auto;
	padding: 4px;
	/* border: 1px solid #ddd; */
	border-radius: 80%;
    border: 3px;
}
.carousel .carousel-item .img-box :hover{
    background-color: #3DC3BD;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 30px 0 10px;
}
.carousel .overview {	
	font-style: italic;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #f6f8f4;
}
.carousel-control-prev, .carousel-control-next {
	width: 40px;
	height: 40px;
	margin-top: -20px;
	top: 50%;
	background: none;
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 68px;
	line-height: 42px;
	position: absolute;
	display: inline-block;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 12px;
	height: 12px;
	margin: 1px 3px;
	border-radius: 50%;
	border: none;
}
.carousel-indicators li {	
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {	
	background: #555;		
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.demoo
{
      background: url("./img/Group\ 197.png");
}

.icons
{
  margin: -10px;
  margin-left: -3px;
  padding-top: 15px;
}




#header-product {
    height: 420px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    padding: 20px 0;
    background:#fff;
    background-image: url("img/Group\ 199.png");
  }
  
  #header-product.header-product-scrolled {
    background: rgba(0, 0, 0, 0.8);
    height: 60px;
    padding: 10px 0;
  }
  
  #header-product .logo h1 {
    font-size: 36px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: bold;
  }
  
  #header-product .logo h1 span {
    color: #3ec1d5;
  }
  
  #header-product .logo h1 a, #header-product .logo h1 a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  #header-product .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
  }
  
  @media (max-width: 768px) {
    #header-product {
        height: 260px;
        padding: 10px 0;
        background: rgba(252, 250, 250, 0.8);
        background-image: url(img/Group\ 199.png);
        background-size: cover;
        background-position: center;
    }
    #header-product .logo h1 {
      font-size: 28px;
      padding: 4px 0;
    }
  }
  
  .header-product-bg {
    background: url(../img/slider/slider1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }
  
  @media (min-width: 1025px) {
    .header-product-bg {
      background-attachment: fixed;
    }
  }
  
  .home-overly {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    position: absolute;
    width: 100%;
  }
.imgBox
{
  width: 41px;
  height: 41px;
  background: url("./img/location.svg") no-repeat;
}
.card-div:hover .imgBox {
  width: 41px;
  height: 41px;
  background: url("./img/location.png") no-repeat;
}

.imgBox-1
{
  width: 41px;
  height: 41px;
  background: url("./img/mail.svg") no-repeat;
}
.card-div:hover .imgBox-1 {
  width: 41px;
  height: 41px;
  background: url("./img/mail.png") no-repeat;
  background-size: 30px;
}

.imgBox-2
{
  width: 41px;
  height: 41px;
  background: url("./img/phone (2).svg") no-repeat;
}
.card-div:hover .imgBox-2 {
  width: 41px;
  height: 41px;
  background: url("./img/phone (2).png") no-repeat;
  background-size: 25px;
}
.card-img
{
  font: normal normal normal 12px/20px 'Rajdhani';
letter-spacing: 0px;
color: #0078BC;
opacity: 1;
}