@media screen and (max-width:768px){
    .navbar-container{
        width: 100vw;
        display: block;
       
      }
      .logo{
          width: 100px;
          height:30px;
      
      }
      .navbar-nav{
          background-color: white;
          width: 170px;
          border-radius: 10px;
         text-align: right;
      }
      .nav-link{
          color: #707070;
         
      }
      #navbarNav{
        position: absolute;
        right: 5%;
      }
      .navbar-toggler{
        position: absolute;
        right: 5%;
        /* margin-left: auto; */
      }
      .service-heading-area{
        height: 259px;
      }
      .service-text{
        font-size: 38px;
      }
      .about-title
      {
        margin-top: 44px !important;
      }
      .servicepage-body-container{
        width: 100vw;
      }
      .body-first-div-heading{
        font-size: 26px;
        margin-top: -65px;
        margin-left: -9px;
    margin-bottom: -10px;
      }
      .body-first-div-text{
        font-size: 15px;
        line-height: 22px;
        width: 340px;
        position: relative;
        left: -6px;
      }
      .group1800-image{
        height: 16rem;
        width: 325px;
        margin-top:-13px;
      }
      .container-2{
        width: 94vw;
      }
      .row-heading-1{
        font-size: 24px;
       
    }
    .image-div{
      width: 76%;
    height: 18rem;
    position: relative;
    left: 28px;
    }
    .image-div2{
      width: 76%;
      height: 18rem;
      margin-left: 5%;
    }
    .icon-div2{
      right: 0%;
      margin-right: -14%;
    }
    .icons
    {
      margin-left: 0px;
      position: relative;
      left: 2px;
    }
    .row-text-1{
      font-size: 15px;
      margin: 8% 0%;
    }
      #first-colm{
        order: 2;
      }
      #second-colm{
        order: 1;
        margin-bottom: 40px;
      }
      .second-rows{
        text-align: left;
        margin: 5% 0%;
      }
      .image-div3{
        width: 76%;
        height: 18rem;
        margin-left: 5%;
      }
      .servicepage-product-container{
        width: 90vw;  
        margin-top: 15%;     
    }
    .servicepage-product-img-cols{
      margin:3% auto;
    }
    .contactus-subdiv-paragrph{
       
      font-size: 11px !important;
     
  }

}

@media screen and (min-width:375px) and (max-width:425px) {
  .mobile-nav-active .mobile-nav-toggle i 
  {
    position: absolute;
    left: -160px;
    width: 176px;
  }
}

@media screen and (max-width:414px)
{
  .mobile-nav-active .mobile-nav-toggle i 
  {
    position: absolute;
    left: -199px;
    width: 213px;
  }
}

@media screen and (max-width:425px)
{
  .mobile-nav-active .mobile-nav-toggle i 
  {
    /* position: absolute;
    left: -207px;
    width: 217px; */
    position: absolute;
    left: -142px;
    width: 152px;
  }
}

@media screen and (max-width:360px)
{
  .image-div2-2
  {
    margin-left: 10px;
    width: 280px;
  }
  .image-div5
  {
    width: 280px;
  }
}