*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
 }

:root {
    --blue: #0078BC;
    --grey: #707070;
    --white:#FFFFFF;
    --color1:#425662;
    --color2:#707675;
  }

  .margin-top{
      margin-top: 10%;
  }
  .footer-image
  {
    float: right !important;
    margin-top: -5px;
  }
.navbar-container{
    width: 80vw;
    margin: auto;
    display: fixed;
}
.logo
{
    width: 139px;
    height:40px;
    margin-bottom: 10px;
}
.navbar-collapse{
   
    z-index: 1;
}
.nav-item{
    font-size: 18px;
    padding: 0px;
    border: 1px solid transparent;
}
.navitem{
    margin: 0px 20px;
    color: rgb(248, 244, 244);
    float: right;
}
.navitem:hover{
    color: rgb(10, 9, 9);
}

.nav-item:hover
{
    border: 1px solid #0078BC;
}
.servies-para
{
  margin-top: 80px;
}
.active{
    color: #0078BC !important;
    font-weight: bold;
    margin: 0px 20px;
}
.service-heading-area{
    background: url("./img/ServiceGroup 1799@2x.png");
    background-size: cover;
    width: 100%;
    height: 429px;
    position: relative;
}
.service-text{
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.servicepage-body-container{
    /* border: 2px solid red; */
    width: 70vw;
    margin: 5% auto;
}
.body-first-div-heading{
    font-size: 32px;
    /* font-weight: bold; */
    color: var(--color1);
}
.our-service-span{
    color: var(--blue);
}
.body-first-div-text{
    font-size: 16px;
    color: var(--color2);
    line-height: 27px;
    text-align: justify;
}
.servicepage-body-container{
    width: 70%;
    margin:5% auto;
}
.group1800-image{
    height: 30rem;
    width: 100%;
    /* border: 2px solid green; */
}
.image-col-div
{
    padding: 0px;
}
.image-div{
    background: url("./img/Mask\ Group\ 34.png");
    background-size: 100% 100%;
    height: 15rem;
    width: 88%;
    position: relative;
    color: #707675;
}
.icon-div{
    width: 29%;
    height: 60px;
    font-size: 25px;
    box-shadow: 0px 3px 6px #00000029;
    background-color:white;
    border-radius: 8px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0%;
    margin-right: -14%; 
    transition: all 0.5s;
}
.icon-div:hover
{
    background-color: var(--blue);
    color: var(--white);
}

.first-text-colmn{
    padding-left: 4%;
}
.container-3-rows{
    margin-top: 12%;
}
.row-heading-1{
    font-size: 35px;
}
.row-text-1
{
    font-size: 16px;
    color: var(--color2);
    margin: 4% 0%;
    text-align: justify;
}
.second-rows
{
   text-align: right;
   padding-right: 4%;
}
.image-div2
{
    background: url("./img/Mask\ Group\ 35.png");
    background-size: 100% 100%;
    height: 15rem;
    width: 88%;
    /* border: 2px solid green; */
    margin-left: auto;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    position: relative;
}
.image-div2-2
{
    background-image: url("./img/Mask\ Group\ 39.png");
    background-size: 100% 100%;
    height: 15rem;
    width: 88%;
    /* border: 2px solid green; */
    margin-left: auto;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    position: relative;
}
.icon-div2
{
    width: 29%;
    height: 60px;
    font-size: 25px;
    box-shadow: 0px 3px 6px #00000029;
    background-color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
    top: 50%; 
     transform: translateY(-50%);
     margin-left: -14%; 
     transition: all 0.5s;
    /* color: black !important; */
}
.icon-div2:hover
{
    background-color: var(--blue);
}

.image-div3{
    background: url("./img/Mask\ Group\ 36.png");
    background-size: 100% 100%;
    height: 15rem;
    width: 88%;
    position: relative;
}
.image-div4{
    background: url("./img/Mask\ Group\ 37.png");
    background-size: 100% 100%;
    height: 15rem;
    width: 88%;
    position: relative;
}
.image-div5{
  background: url("./img/Mask\ Group\ 38.png");
  background-size: 100% 100%;
  height: 15rem;
  width: 88%;
  position: relative;
}

/* servicepage product container start*/

.servicepage-product-container
{
    width: 40vw;
    margin:8% auto;
}
.servicepage-product-heading{
    text-align: center;
    color:#425662 ;
    font-size: 31px;
    letter-spacing: 1px;
    margin-top: 3%;
}
.service-accessory 
{
    height: 1px;
    width: 170px;
    background-color: #0078BC;  
    position: relative;
    margin: 1em auto;
}
  .service-accessory:after {
    content: '';
    position: absolute;
    top:  80%;
    left: 50%;
    display:block;
    background-color:white;
    height: 12px;
    width:  12px; 
    /* transform: rotate(45deg); */
     border-radius: 50%;
    margin-top:  -7px;
    margin-left: -10px; 
    border: 2px solid blue;
   }

   .servicepage-product-img-cols{
       height: 200px;
       width: 290px;
       /* border: 2px solid red; */
       box-shadow: 0px 0px 1px 1px #00000029;
       border-radius: 6px;
       display: flex;
       justify-content: center;
       align-items: center;
      
   }
   .servicepage-product-img-cols:hover{
        border: none;
         box-shadow: 0px 2px 10px #00000029;
         
   }
   .servicepage-product-img{
       width: 204px;
       height: 70px;
   }
/* servicepage product container end*/

   #header-service 
{
    height: 420px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    padding: 20px 0;
    background:white;
    background-image: url("img/Group\ 1799.png");
  }
  
  #header-service.header-service-scrolled {
    background: rgba(0, 0, 0, 0.8);
    height: 60px;
    padding: 10px 0;
  }
  
  
  #header-service .logo h1 {
    font-size: 36px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: bold;
  }
  
  #header-service .logo h1 span {
    color: #3ec1d5;
  }
  
  #header-service .logo h1 a, #header-service .logo h1 a:hover {
    color: white;
    text-decoration: none;
  }
  
  #header-service .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
  }
  .h2-capfront
  {
     font-size: 21px !important;
  }
  @media (max-width: 768px) {
    #header-service {
        height: 260px;
        padding: 10px 0;
        background: rgba(252, 250, 250, 0.8);
        background-image: url(img/Group\ 199.png);
        background-size: cover;
        background-position: center;
    }
    #header-service .logo h1 
    {
      font-size: 28px;
      padding: 4px 0px;
    }
  }
  
  .header-service-bg {
    background: url(../img/slider/slider1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }
  
  @media (min-width: 1025px) {
    .header-service-bg {
      background-attachment: fixed;
    }
  }
  
  .home-overly {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    position: absolute;
    width: 100%;
  }
  
  /*--------------------------------------------------------------
  # Nav
  --------------------------------------------------------------*/
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /* Desktop Navigation */
  .nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
  }
  
  .about-title
  {
      text-align: center;
      font-size: 40px;
      margin-top: 150px;
      color: white;
      font-weight: bold;
      /* background-image: url("./img/Group\ 197.png"); */
  }
  .nav-menu > ul > li 
  {
    position: relative;
    white-space: nowrap;
    float: left;
  }
  
  .nav-menu a 
  {
    display: block;
    position: relative;
    color: black;
    padding: 8px 15px 12px 15px;
    transition: 0.3s;
    font-size: 15px;
  }
  
  .nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a 
  {
    color: #3ec1d5;
    text-decoration: none;
  }
  .nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a 
  {
    color: #3ec1d5;
  }
  .nav-menu .drop-down > a:after {
    content: "\ea99";
    font-family: IcoFont;
    padding-left: 5px;
  }
  
  .nav-menu .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
  }
  
  .nav-menu .drop-down .drop-down:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
  }
  
  .nav-menu .drop-down .drop-down > a {
    padding-right: 35px;
  }
  
  .nav-menu .drop-down .drop-down > a:after {
    content: "\eaa0";
    font-family: IcoFont;
    position: absolute;
    right: 15px;
  }
  .icons
{
  margin: -10px;
  margin-left: -3px;
  padding-top: 15px;
}
  @media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
      left: -90%;
    }
    .nav-menu .drop-down .drop-down:hover > ul {
      left: -100%;
    }
    .nav-menu .drop-down .drop-down > a:after {
      content: "\ea9d";
    }
  }
  
  
  /* Mobile Navigation */
  .mobile-nav-toggle {
    /* position: fixed; */
    right: 10px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
  }
  
  .mobile-nav-toggle i {
    color: white;
  }
  
  .mobile-nav {
    /* position: fixed; */
    position: absolute;
    top: 44px;
    right: 0px;
    bottom: 15px;
    left: 208px;
    z-index: 9999;
    overflow-y: auto;
    background: white;
    transition: ease-in-out 0.2s;
    opacity: 0;
    visibility: hidden;
    padding: 10px 0;
  }
  
  .mobile-nav * {
    margin: -4px;
    padding: 0;
    list-style: none;
  }
  
  .mobile-nav a {
    display: block;
    position: relative;
    color: #0d2529;
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
  }
  
  .mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
    color: #3ec1d5;
    text-decoration: none;
  }
  
  .mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(1, 2, 2, 0.6);
    overflow: hidden;
    display: none;
    transition: ease-in-out 0.2s;
  }
  
  .mobile-nav-active {
    overflow: hidden;
  }
  
  .mobile-nav-active .mobile-nav {
    opacity: 1;
    visibility: visible;
  }
  
  .mobile-nav-active .mobile-nav-toggle i {
    color: #0078BC;
  }

  .phone-logo:hover
  {
    background-color: white;
    color: white;
  }

  .fa-facebook:hover{
    color:red !important;
 }


 .serviceimges-div:hover{
  background-color: var(--blue);
 }
.serviceimges-div:hover > .serviceimages{
  display: none;
}
.serviceimges-div:hover > .serviceimageshover{
  background-color: var(--blue);
  display: block;
}
.serviceimges-div:hover ~ .service-pogressbar{ 
display: block; 
 background-color: var(--blue);
}
.serviceimges-div
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    position: relative;
    top: -2px;
}

.imgBox
{
  width: 41px;
  height: 41px;
  background: url("./img/location.svg") no-repeat;
}
.card-div:hover .imgBox {
  width: 41px;
  height: 41px;
  background: url("./img/location.png") no-repeat;
}

.imgBox-1
{
  width: 41px;
  height: 41px;
  background: url("./img/mail.svg") no-repeat;
}
.card-div:hover .imgBox-1 {
  width: 41px;
  height: 41px;
  background: url("./img/mail.png") no-repeat;
  background-size: 30px;
}

.imgBox-2
{
  width: 41px;
  height: 41px;
  background: url("./img/phone (2).svg") no-repeat;
}
.card-div:hover .imgBox-2 {
  width: 41px;
  height: 41px;
  background: url("./img/phone (2).png") no-repeat;
  background-size: 25px;
}



.imgLog
{
  width: 51px;
  height: 41px;
  background: url("./img/supply.svg") no-repeat;
  background-size: 35px;
  margin-left: 19px;
  margin-top: 7px;
}

.icon-div:hover .imgLog
{
  width: 51px;
  height: 40px;
  background: url("./img/Group\ 45.svg") no-repeat;
  background-size: 35px;
}

.imgLog-1
{
  width: 41px;
  height: 44px;
  background: url("./img/computer.svg") no-repeat;
  background-size: 40px;
  margin-top: 5px;
}

.icon-div2:hover .imgLog-1
{
  
  background: url("./img/computers.svg") no-repeat;
  background-size: 40px;
}

.imgLog-2
{
  width: 45px;
  height: 44px;
  background: url("./img/safe-1.svg") no-repeat;
  background-size: 32px;
  margin-left: 15px;
  opacity:100%;
}

.icon-div:hover .imgLog-2
{
  width: 45px;
  height: 44px;
  background: url("./img/safe.svg") no-repeat;
  background-size: 32px;
  opacity: 100%;
}

.imgLog-3
{
  width: 45px;
  height: 44px;
  background: url("./img/desktop-2.svg") no-repeat;
  background-size: 45px;
  margin-left: -2px;
  margin-top: 0px;
}

.icon-div2:hover .imgLog-3
{
  width: 45px;
  height: 44px;
  background: url("./img/desktop.svg") no-repeat;
  background-size: 45px;
}


.imgLog-4
{
  width: 45px;
  height: 44px;
  background: url("./img/paper-2.svg") no-repeat;
  background-size: 45px;
  margin-left: -2px;
  margin-top: 0px;
}

.icon-div2:hover .imgLog-4
{
  width: 45px;
  height: 44px;
  background: url("./img/paper.svg") no-repeat;
  background-size: 45px;
}

.imgLog-6
{
  width: 45px;
  height: 44px;
  background: url("./img/computer-5.svg") no-repeat;
  background-size: 45px;
  margin-left: -2px;
  margin-top: 0px;
}

.icon-div2:hover .imgLog-6
{
  width: 45px;
  height: 44px;
  background: url("./img/computer 1.svg") no-repeat;
  background-size: 45px;
}